.app-nav-wrap {
  .app-nav-header {
    @extend .background-color-nav;
    width: inherit;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    transition: inherit;
  }
}

@mixin nav-header-mobile() {
  .app-nav-wrap {
    .app-nav-header {
      position: relative;
    }
  }
}