.app-nav-wrap {
  nav {
    ul {
      margin: 70px 0 0 0;
    }
  }
  .app-nav-header {
    @extend .background-color-nav;
    width: inherit;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    transition: inherit;
  }
}