.app-nav-wrap {
  .app-search-box {
    width: 250px;
    margin: 10px 0 10px 18px;
    user-select: none;
    filter: opacity(0.7);
  }

  .app-search-dialog {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
    background: var(--color_nav);
    transform: translateY(-105%);
    transition: 0.2s ease;

    &.show { transform: translateY(0%); }

    .app-input-search {
      width: 50%;
      height: 35px;
      padding-left: 45px;
    }
    i {
      font-size: 18px;
      margin-right: -35px;
      z-index: 1;
      line-height: normal;
    }
    .icons10-cross {
      margin: 0;
      color: var(--color_text_dark);
    }
    button {
      width: 40px;
      border: none;
      background-color: transparent;
    }
  }
  .app-search-dialog-trigger {
    display: none;
  }

  &.toggled {
    .app-search-box { display: none; }

    .app-search-dialog-trigger {
      height: 55px;
      font-size: 24px;
      padding-left: 25px;
      display: flex;
      align-items: center;
      cursor: pointer;

        &:hover { background-color: var(--color_link_bg_hover); }
        &:active { background-color: var(--color_link_bg_active); }
    }
  }
}

@mixin app-navbar-search-mobile() {
  .app-nav-wrap {
    .app-search-box { display: none; }
    
    .app-search-dialog {
      padding: 15px;
      z-index: 9;

      .app-input-search {
        width: 80%;
      }
    }
    .app-search-dialog-trigger {
      display: inline-flex;
      align-items: center;
      font-size: 18px;
      padding: 0 10px 0 15px;
    }
  }
}