.home-header {
    background-color: #222;
    border-radius: 25px;
    font-size: 50px;
    width: 340px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 15px;
    box-shadow: 0 4px 4px #222;
}
.home-header i {
    color: var(--PrimaryColor);
    font-size: 60px;
    height: 52px;
    width: 52px;
    display: flex;
}
.home-text {
    text-align: center;
    font-weight: 500;
    display: block;
}
.home-color-picker {
    text-align: center;
    margin: auto;
}
.link-container {
    width: fit-content;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}
.link-container a:hover {
    background-color: transparent;
}
.home-footer-group {
    position: absolute;
    left: 0;
    height: 125px;
    width: 100%;
    bottom: 0px;
}
.home-footer-group .group {
    width: inherit;
    height: 25px;
    background-color: var(--PrimaryColor);
}
.group.a {
    opacity: 0.1;
}
.group.b {
    opacity: 0.3;
}
.group.c {
    opacity: 0.5;
}
.group.d {
    opacity: 0.7;
}
.group.e {
    opacity: 0.9;
}
.home-header *,
.home-footer-group .group {
    transition: 0.5s ease;
}

@media only screen and (max-width: 760px) {
    .home-header {
        width: 265px;
    }
}