.app-alert {
  @extend .color-white;
  width: 55%;
  position: fixed;
  top: 0;
  left: 24vw;
  margin-top: 30vh;
  z-index: 11;
  background: var(--color_primary_alpha);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 24vh rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  &.light {
    @extend .color-text-dark;
    @extend .background-color-grey-light;

    button {
      border: 2px solid var(--color_button_hover);
      color: var(--color_button_hover);
      
      &:active {
        background: var(--color_button_hover) !important;
        color: #fff;
      }
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  h1 {
    font-size: 1.7em;
    margin: 0;
    padding: 25px 32px 10px 32px;
    background-color: transparent;
  }
  .alert-message {
    font-size: 1em;
    text-align: justify;
    min-height: 80px;
    padding: 0 32px;
    line-break: auto;
  }
  .btn-container {
    display: block;
    text-align: right;
    padding: 0 15px 10px 15px;
  }
  button {
    display: inline;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 3.4vw;
    margin: 10px;
    border: 2px solid #fff;

    &:hover {
      opacity: 0.62;
    }
    &:active {
      opacity: 1;
      color: var(--PrimaryColor);
      background: #fff !important;
    }
  }

  h1,
  button,
  .btn-container,
  .alert-message {
    background-color: transparent !important;
  }
}

@mixin alert-mobile() {
  .app-alert {
    width: 100% !important;
    left: 0 !important;
    margin: 0;
    background: var(--PrimaryColor);
    transition: all 0.3s ease;
    transform: translateY(-100%);

    .alert-message {
      min-height: 50px;
    }

    &.light {
      background: var(--color_grey_light);
    }

    &.show {
      transform: translateY(0%);
    }

    button {
      padding: 3px 30px;
      margin: 15px 15px 15px 0;
    }
  }
}