.app-section-container {
  padding-left: 290px;
  transition: 0.2s ease;

  &.has-padding {
    padding-left: 320px;
  }
}

.app-section-container-inner {
  margin: 0 30px;
}

// check if .app-section-container-inner has a sibling of same type
.app-section-container-inner:first-of-type:not(:only-of-type) {
  width: 70%;
}

.app-navbar-wrap.toggled + .app-section-container {
  padding-left: 74px;

  &.has-padding {
    padding-left: 104px;
  }
}

.app-section-container-right {
  @extend .transition-background-400ms;
  max-width: 20vw;
  position: absolute;
  top: 100px;
  right: 5%;
  float: right;
  overflow: auto;
  padding-left: 15px;
  background-color: var(--color_bg_light);

  &.fixed {
    position: fixed;
  }
}

@media screen and (max-width: 70em) {
  .app-section-container-right {
    max-width: fit-content;
    position: relative;
    top: 10px;
    right: auto;
    float: left;
    padding-left: 30px;
    padding-bottom: 70px;
    
    &.fixed {
      position: relative;
    }
  }
  .app-section-container-inner:first-of-type:not(:only-of-type) {
    width: auto;
  }
}

@mixin app-content-wrap-mobile() {
  .app-section-container {
    margin: 0 !important;
    padding: 75px 0 0 0 !important;
    
    &.has-padding {
      margin: 0 15px !important;
    }
  }
  .app-section-container-inner {
    margin: 15px;
  }
  .app-section-container-right {
    padding-left: 15px;
  }
}