.app-fluent-effect {
  &::before {
    content: "";
    position: absolute;
    will-change: transform;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: all 0.2s ease, transform 0s ease, opacity 0.6s ease;
    transform: translate(-50%, -50%) scale(5);
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0.3;
    background:
      radial-gradient(
      circle closest-side,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    transform: translate(-50%, -50%) translate(var(--x), var(--y));
  }
  &:hover::after {
    width: 150%;
    height: 150%;
  }
}
.app-fluent--reveal .app-fluent-effect::before,
.app-fluent-effect:hover::before {
  transform: translate(-50%, -50%) translate(var(--x), var(--y)) scale(5);
  opacity: 0.7;
  background:
    var(--color_button)
    radial-gradient(circle 20px, #999999 15%, transparent);
}

.app-fluent--reveal .app-fluent-effect:hover::before {
  opacity: 0.8;
  background:
    var(--color_button)
    radial-gradient(
    circle 20px,
    #999999 15%,
    var(--color_light_grey_alpha)
    );
}

.app-fluent--ripple .app-fluent-effect::after {
  animation: ripple 1.1s cubic-bezier(0.41, 0, 0.35, 0.89) forwards;
}
  
@keyframes ripple {
  0% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.65;
  }
  100% {
    transform: translate(-50%, -50%) translate(var(--x), var(--y)) scale(2.4);
  }
}

@mixin fluent-effect-mobile() {
  .app-fluent-effect:hover::before {
    background: transparent;
  }
}