.app-button-icon {
  font-size: 24px;
  vertical-align: middle;
  color: var(--PrimaryColor);
  padding: 5px 10px;
  border: none;
  transition: 0.2s ease;
  background-color: transparent;
  

  &:hover {
    color: #fff;
    background-color: var(--color_primary_alpha);
  }
  &:active {
    transform: scale(0.965, 0.965);
    transition: 0.02s ease;
    background-color: var(--PrimaryColor);
  }
}

@mixin button-icon-mobile() {
  .app-button-icon {
    &:hover {
      color: var(--PrimaryColor);
      background-color: transparent;
    }
    &:active {
      background-color: var(--color_primary_alpha);
    }
  }
}