button,
.app-button {
    @extend .user-select-none;
    cursor: pointer;
    &:focus,
    &:active,
    &:focus:active {
        outline: none !important;
    }
}
.app-button {
    @extend .user-select-none;
    @extend .color-dark-text;
    @extend .transition-all-400ms;
    @extend .vertical-align-middle;
    @extend .background-color-button;
 
    height: 35px;
    padding: 5px 15px;
    font-size: 15px;
    border: 2px solid transparent;
    transition-duration: 0.2s;

    &:hover {
        border-color: var(--color_button_hover);
        filter: opacity(0.8);
    }
    &:active {
        filter: opacity(0.6);
        transition: 0.04s ease;
    }
    &.isLoading {
        pointer-events: none;
    }

    &.primary {
        @extend .background-color-primary;
    }
    &.primary-outline {
        @extend .color-primary;
        border: 2px solid var(--PrimaryColor);
        &:active {
            background-color: var(--PrimaryColor);
        }
    }
    &.danger {
        background: #C50500;
    }
    &.danger-outline {
        border: 2px solid #C50500;
        color: #C50500;
        &:active {
            background-color: #C50500;
        }
    }
    &.success {
        background: #2C8B2C;
    }
    &.success-outline {
        border: 2px solid #2C8B2C;
        color: #2C8B2C;
        &:active {
            background-color: #2C8B2C;
        }
    }
    &.primary,
    &.danger,
    &.success {
        color: #fff;
    }
    &.primary-outline,
    &.success-outline,
    &.danger-outline {
        background-color: transparent;
        transition-duration: 0s;
        &:active {
            color: #fff;
            transform: unset !important;
            filter: unset;
        }
        &[disabled] {
            backdrop-filter: grayscale(1);
        }
    }
    &.animate:active {
        transform: scale(0.950, 0.950);
    }
    &[disabled] {
        @extend .input-field-primary-disabled;
        span {
            pointer-events: none;
        }
        &:active,
        &:hover {
            @extend .input-field-primary-disabled;
        }
    }

    .app-loader-busy {
        left: 40%;
        display: inline;
        top: 0 !important;
    }
    span {
        transition: all ease 0.2s;
    }
    i.color-primary {
        @extend .color-primary;
    }
}

@mixin button-mobile() {
    .app-button {
        &:hover {
            border-color: transparent;
            filter: none;
        }
        &:active {
            filter: opacity(0.6);
        }
    }
}