button,
.app-button {
  @extend .user-select-none;
  @extend .tap-highlight-none;
  
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus,
  &:active,
  &:focus:active {
    outline: none !important;
  }
}
.app-button {
  @extend .user-select-none;
  @extend .color-text-dark;
  @extend .vertical-align-middle;
  @extend .background-color-button;

  height: 35px;
  font-size: 15px;
  padding: 5px 15px;
  transition: 0.2s ease;
  border: 2px solid transparent;

  &:hover {
    filter: opacity(0.8);
    border-color: var(--color_button_hover);
  }
  &:active {
    filter: contrast(0.4);
    transition: 0.02s ease;
    border: 2px solid transparent;
  }
  &.isLoading {
    pointer-events: none;

    span {
      opacity: 0;
    }
  }

  &.primary {
    @extend .background-color-primary;
  }
  &.primary-outline {
    @extend .color-primary;
    border: 2px solid var(--PrimaryColor);
    &:active {
      background-color: var(--PrimaryColor);
    }
  }
  &.danger {
    background: #C50500;
  }
  &.danger-outline {
    border: 2px solid #C50500;
    color: #C50500;
    &:active {
      background-color: #C50500;
    }
  }
  &.success {
    background: #2C8B2C;
  }
  &.success-outline {
    border: 2px solid #2C8B2C;
    color: #2C8B2C;
    &:active {
      background-color: #2C8B2C;
    }
  }
  &.primary,
  &.danger,
  &.success {
    color: #fff;
  }
  &.primary-outline,
  &.success-outline,
  &.danger-outline {
    background-color: transparent;

    &:active {
      color: #fff;
      filter: unset;
    }
    &[disabled] {
      backdrop-filter: grayscale(1);
    }
  }
  &.animate:active {
    transform: scale(0.97, 0.97);
  }
  &[disabled] {
    @extend .input-field-primary-disabled;
    
    span {
      pointer-events: none;
    }
    &:active,
    &:hover {
      @extend .input-field-primary-disabled;
    }
  }

  .app-loader-busy {
    width: 0px;
    left: 40%;
    display: inline; 
  }
  span {
    transition: opacity ease 0.2s;
  }
  i.color-primary {
    @extend .color-primary;
  }
  // check if button child span has a sibling of same type
  span:first-of-type:not(:only-of-type) {
    padding-right: 5px;
  }
}

@mixin button-mobile() {
  .app-button:not(.primary-outline):not(.danger-outline):not(.success-outline) {
    &:hover {
      filter: none;
      border-color: transparent;
    }
    &:active {
      filter: contrast(0.4);
    }
  }
}