.app-button-icon {
  padding: 5px 10px;
  transition: 0.2s ease;
  background-color: transparent;
  color: var(--PrimaryColor);
  border: none;
  vertical-align: middle;
  font-size: 24px;

  &:hover {
    background-color: var(--color_primary_alpha);
    color: #fff;
  }
  &:active {
    transform: scale(0.965, 0.965);
    transition: 0.02s ease;
    background-color: var(--PrimaryColor);
  }
}

@mixin button-icon-mobile() {
  .app-button-icon {
    &:hover {
      background-color: transparent;
      color: var(--PrimaryColor);
    }
    &:active {
      background-color: var(--color_primary_alpha);
    }
  }
}