.app-link-compound {
    @extend .color-dark-text;
    @extend .transition-all-400ms;
    @extend .tap-highlight-none;
    max-width: 310px;
    height: fit-content;
    display: inline-block;
    font-size: 15px;
    text-align: start;
    cursor: pointer;
    padding: 0 10px 12px 10px;
    margin-bottom: 5px;
    border: 2px solid transparent;
    
    &:hover {
        @extend .background-color-light-grey;
    }
    &:active {
        @extend .transition-scale-0_95;
        background: var(--color_link_bg_hover) !important;
    }
    i {
        font-size: 36px;
        top: 16px;
        line-height: 0 !important;

        &.bg-accent::before,
        &.bg-grey::before {
            font-size: 30px;
            padding: 3px;
        }
    }
    span {
        @extend .color-dark-text;
        height: 20px;
        width: 250px;
        display: inline-block;
        top: 7px;
        left: 12px;
        line-break: anywhere;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    p {
        height: fit-content;
        padding: 0 0 5px 48px;
        font-size: 12px;
        opacity: 0.7;
        margin: 2px 0 0 0;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    i,
    span {
        position: relative;
        line-height: 1;
    }


    &.accent {
        &:hover {
            border: 2px solid var(--color_link_bg_hover);
            background: transparent !important;
        }
        &:active {
            background: var(--color_light_grey) !important;
            border: 2px solid var(--color_link_bg_active);
        }
    }
    &.accent i,
    i.accent {
        @extend .color-accent;
    }
}

@mixin link-compound-mobile() {
    .app-link-compound {
        &:hover,
        &.accent:hover {
            background: transparent;
            border-color: transparent;
        }
    }
}