.app-link {
    @extend .color-accent;
    @extend .font-size-16px;
    display: inline-flex;
    font-weight: 400;
    line-height: 1.5;
    line-break: anywhere;
    margin-right: 10px;

    &:focus {
        @extend .outline-none;
    }
    &:hover,
    &:active {
        color: #888;
        background: none !important;
    }
    &:active {
        color: var(--color_dark_text);
    }

    i {
        font-size: 24px;
        padding-right: 8px;
        line-height: 0;
    }
}

i.bg-accent::before {
    @extend .color-white;
    @extend .background-color-accent;
}
i.bg-grey::before {
    @extend .background-color-link-bg-active;
}

@mixin links-mobile() {
    .app-link {
        &:hover {
            color: var(--AppColor);
        }
    }
}