.app-list-item {
    margin: 0;
    padding: 0;
    a {
        @extend .user-select-none;
        @extend .transition-all-400ms;
        @extend .tap-highlight-none;
        padding: 12px 10px;
        border-bottom: 1px solid var(--color_light_grey);
        &:hover {
            @extend .background-color-light-grey;
        }
        &:active {
            @extend .background-color-link-bg-hover;
            transform: scale(0.99, 0.99);
            transition: 0.04s ease;
        }
    }
    img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: #777;
        font-size: 10px;
        text-align: center;
        margin-right: 20px;
    }
    p {
        &.app-list-subtitle {
            font-size: 14px;
            line-height: 2;
            opacity: 0.7;
            margin: 0;
            padding: 0;
        }
        &.app-list-info {
            font-size: 15px;
            flex: none;
        }
    }
    div {
        display: inline-grid;
        align-items: center;
        height: fit-content;
        width: 75%;
    }

    span.app-list-title {
        font-size: 16px;
    }
    span.app-list-title,
    p.app-list-subtitle {
        display: inline-block;
    }
}

.app-list-item,
.app-list-item a {
    display: flex;
    width: 100%;
    color: var(--color_text_dark);
}

@mixin list-item-mobile() {
    .app-list-item {
        a:not(:active) {
            &:hover {
                background: transparent;
            }
        }
    }
}