.app-loader-busy {
  width: 30px;
  height: 30px;
  position: relative;
  top: -2px;
  opacity: 0;
  transition: opacity 0.4s ease;

  &.medium {
    top: 2.5px;

    .w-ball-wrapper {
      width: 25px;
      height: 25px;

      .w-ball {
        width: 4.4px;
        height: 4.4px;
      }
    }
  }

  &.small {
    top: 7px;

    .w-ball-wrapper {
      width: 16px;
      height: 16px;

      .w-ball {
        width: 3px;
        height: 3px;
      }
    }
  }

  .w-ball-wrapper {
    width: 34px;
    height: 34px;
    position: absolute;
    opacity: 0;
    transform: rotate(225deg);
    animation: orbit 4.8s infinite;
    

    .w-ball {
      @extend .background-color-primary-light;

      width: 4.8px;
      height: 4.8px;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      box-shadow: none;
    }

    &.ball-1 {
      animation-delay: 0.96s;
    }
    &.ball-2 {
      animation-delay: 0.19s;
    }
    &.ball-3 {
      animation-delay: 0.38s;
    }
    &.ball-4 {
      animation-delay: 0.58s;
    }
    &.ball-5 {
      animation-delay: 0.77s;
    }
  }
  &.animate {
    opacity: 1;
  }

  &.light {
    .w-ball-wrapper .w-ball {
      background: #fff;
    }
  }

      

  @keyframes orbit {
    0% {
      transform: rotate(225deg);
      opacity: 1;
      animation-timing-function: ease-out;
    }
    7% {
      transform: rotate(345deg);
      animation-timing-function: linear;
    }
    35% {
      transform: rotate(495deg);
      animation-timing-function: ease-in-out;
    }
    42% {
      transform: rotate(690deg);
      animation-timing-function: linear;
    }
    70% {
      transform: rotate(835deg);
      opacity: 1;
      animation-timing-function: linear;
    }
    76% {
      opacity: 1;
    }
    77% {
      transform: rotate(955deg);
      animation-timing-function: ease-in;
    }
    78% {
      transform: rotate(955deg);
      opacity: 0;
    }
    100% {
      transform: rotate(955deg);
      opacity: 0;
    }
  }
}

.app-loader-busy-fullscreen {
  @extend .app-overlay;
  
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  
  &.show {
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
  }

  .app-loader-busy {
    top: 42%;
    margin: 0 auto;
    z-index: 100;
    filter: drop-shadow(0 4px 4px black);
  }
  .title {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 18%;

    &.text-light {
      font-size: 1.5em;
      color: #fff;
    }
  }
}