.app-range-slider {
    width: 360px;
    display: block;
    position: relative;
    padding: 5px 0;

    input[type="range"] {
        appearance: none;
        width: calc(100% - (73px));
        height: 2px;
        background: #999999;
        outline: none;
        padding: 0;
        margin: 0;
        position: relative;
        top: -5px;

        &::-webkit-slider-thumb {
            width: 8px;
            height: 26px;
            -webkit-appearance: none;
            appearance: none;
            border-radius: 100px;
            background: var(--PrimaryColor);
            cursor: pointer;
            transition: background 0.15s ease-in-out;
            user-select: none;

            &:hover {
                background: #555;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
            }
            &:active {
                background: #999;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
            }
        }
        &::-moz-range-thumb {
            width: 8px;
            height: 26px;
            border-radius: 100px;
            border: none;
            cursor: pointer;
            transition: background 0.15s ease-in-out;
            user-select: none;
        }
        &::-moz-range-thumb {
            background: var(--PrimaryColor);
        }
        &::-moz-range-thumb:hover,
        &:active::-moz-range-thumb {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
        }
    }
    &.round {
        input[type="range"] {

            &::-webkit-slider-thumb {
                width: 20px !important;
                height: 20px;
            }
            &::-moz-range-thumb {
                width: 20px;
                height: 20px;
            }
        }
    }
    &.round-border {
        input[type="range"] {
            &::-webkit-slider-thumb {
                width: 20px !important;
                height: 20px;
                border: 3px solid var(--PrimaryColor);
                background: var(--color_light_bg);
            }
            &::-moz-range-thumb {
                width: 14px;
                height: 14px;
                border: 3px solid var(--PrimaryColor);
                background: var(--color_light_bg);
            }
        }
    }

    span {
        @extend .color-dark-text;
        display: contents;
        font-size: 18px;
    }
    .popup {
        background: var(--color_button);
        box-shadow: 0 0 4px var(--color_button);
        display: inline-block;
        position: absolute;
        top: -30px;
        border-radius: 7px;
        font-size: 12px;
        padding: 5px;
        transition: 0.08s ease;
        visibility: hidden;
        opacity: 0;
    }
}

@mixin slider-bar-mobile() {
    .app-range-slider {
        width: calc(280px + 5%);
        flex-flow: column-reverse;
        display: flex;

        input[type="range"] {
            width: 100%;
            top: 0;
        }
        span {
            line-height: 2.2;
        }
    }
}