.app-switch {
  @extend .tap-highlight-none;
  user-select: none;
  display: inline-flex;
  margin-right: 70px;

  > div {
    width: 42px;
    height: 19px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid var(--color_text_dark);
    position: relative;
    transition: 200ms ease-out;

    &:hover {
      opacity: 0.65;
    }
    &::before {
      width: 13px;
      height: 13px;
      position: absolute;
      top: 3px;
      left: 3px;
      display: block;
      background: var(--color_text_dark);
      border-radius: 50%;
      content: '';
      will-change: translate;
      transition: 200ms;
    }
    &::after {
      width: 100px;
      font-size: 16px;
      position: relative;
      top: 10px;
      right: -128%;
      display: flex;
      pointer-events: none;
      content: attr(dataoff);
      transform: translateY(-50%);
    }
  }

  input {
    @extend .display-none;
    
    &:checked {
      + div {
        @extend .background-color-primary;
        border-color: var(--PrimaryColor);

        &::before {
          color: var(--PrimaryColor);
          transform: translateX(280%);
          transform: translateX(calc(2 * 100% - 3px));
          background: #fff;
        }
        &::after {
          content: attr(dataon);
        }
      }
    }
    &:disabled {
      + div {
        @extend .background-color-link-bg-hover;
        @extend .cursor-not-allowed;
        border-color: var(--color_link_bg_hover);

        &::before {
          background: var(--color_text_dark) !important;
          filter: contrast(0);
        }
      }
    }
  }
}

@mixin switch-mobile() {
  .app-switch {
    > div:hover {
      opacity: 1;
    }
  }
}