.app-table-view-container {
  width: 100%;
  overflow: auto;
}
.app-table-view {
  border-collapse: collapse;
  th {
    @extend .transition-background-400ms;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: var(--color_light_grey_alpha);
    }
    &.no-sortable {
      pointer-events: none;
    }
  }
  td {
    min-width: fit-content;
  }
  th,
  td {
    padding: 10px;
  }
  td,
  thead {
    border-bottom: 1px solid var(--color_link_bg_hover);
  }
}