.app-view-default {
  position: relative;
  opacity: 1;
  visibility: visible;

  &.fade {
    transition: 0.4s;
  }
  
  &.hide {
    opacity: 0;
    visibility: hidden;

    &.fade {
      transition: 0.2s;
    }
  }
}