.app-navbar-wrap {
    nav {
        right: 0;
        left: unset;
        direction: rtl;

        ul {
            h1 {
                padding: 8px 24px 8px 0;
            }
        }

        .app-switch {
            margin-right: 80px;
        }
    }
    .app-input-search-box {
        margin: 0 18px 10px 0;
    }
    .app-search-dialog {
        i {
            margin-left: 10px;
        }
    }
    &.toggled {
        .app-search-dialog-trigger {
            padding-right: 25px;
            padding-left: unset;
        }
    }
}