.app-input-search-bar, .app-input-search-box {
    .app-input-text {
        direction: rtl;
        padding-left: 35px;
        padding-right: 20px;
    }
}
.app-input-search-box {
    &::after {
        margin-right: -29px;
    }
}
.app-input-search-bar {
    button {
        margin-right: -33px;
    }
}