.app-navbar-wrap nav.animate.custom .app-navbar-header {
  position: absolute;
}

@media only screen and (max-width: 760px) {
  .app-navbar-wrap nav.animate.custom {
    height: 75px;
    z-index: 1;
  }
  .app-navbar-wrap nav.animate.custom .app-navbar-header,
  .app-navbar-wrap nav.animate.custom .app-navbar-name {
    position: relative;
  }
}