.app-navbar-name {
  font-size: 14px;
  cursor: default;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  color: var(--color-text-default);
  // padding-inline-start: 10px;

  &::-moz-selection {
    background: transparent;
    color: var(--color-text-default);
  }
  &::selection {
    background: transparent;
    color: var(--color-text-default);
  }
}

@media only screen and (max-width: 760px) {
  .app-navbar-name {
    padding-inline-start: 5px;
  }
}