.app-navbar-wrap .app-badge {
  position: relative;
  height: 16px;
  padding: 1px 5px;
  color: #fff;
  top: -8px;
  font-size: 10px;
  margin-left: -10px;
  border-radius: 28px;
  display: inline-flex;
  align-items: center;
  background: #ff3b30;
  justify-content: center;
}

.app-navbar-wrap.collapsed .app-badge {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: none;
  max-width: 22px;
  margin-left: -22px;
  display: inline-block;
}
