.ui-navbar-wrap {
  .ui-navbar-list {
    margin: 0;
    height: inherit;
    list-style: none;
    padding: 0 0 20px 0;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: overlay;

    h1 {
      margin: 0;
      cursor: default;
      font-size: 14px;
      font-weight: 600;
      padding: 8px 18.4px;
      user-select: none;
    }
  }
}