.app-navbar-wrap .app-navbar-list {
  .app-navbar-list-item {
    margin: 5px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;

    &:active {
      opacity: 0.7;
      a.active::after {
        height: 12px;
      }
    }

    a {
      width: 100%;
      gap: 12.6px;
      padding: 7px 0;
      font-weight: 400;
      background: none;
      position: relative;
      align-items: center;
      flex-direction: row;
      display: inline-flex;
      color: var(--color-text-default);
      
      &:hover {
        background-color: var(--color-ui-hover-strong);
      }

      &::after {
        left: 0;
        content: "";
        width: 3px;
        height: 10px;
        position: absolute;
        border-radius: 8px;
        transition: all 0.4s;
        transform: translate3d(-200%, 0, 0);
        background: var(--color-primary-adaptive);
      }
      &.active {
        background-color: var(--color-ui-hover-strong);
        &::after {
          height: 15px;
          transition: height 0.1s;
          transform: translate3d(0, 0, 0);
        }
      }
      i {
        width: 20px;
        text-align: center;
        margin-inline-start: 10px;
        &::before {
          font-size: 20px;
          pointer-events: none;
          text-overflow: unset;
          line-height: normal;
        }
      }

      > * {
        pointer-events: none;
      }
    }
    span {
      font-size: 14px;
      overflow: hidden;
      user-select: none;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    img {
      width: 20px;
      height: 20px;
      margin: 2px;
      user-select: none;
      border-radius: 4px;
      margin-inline-start: 10px;
      background-color: var(--color-ui-hover-strong);
    }
  }
}