.app-navbar-wrap {
  @media only screen and (max-width: 760px) {
    .app-navbar-overlay {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 5;
      position: fixed;
      visibility: hidden;
      background: #77777788;
      transition: visibility 0.3s, opacity 0.3s ease;

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}