.app-navbar-wrap {
  .app-input-search-box {
    width: -webkit-fill-available;
    user-select: none;
    margin: 5px 20px;
    @if $platform == "windows10" { filter: opacity(0.7); }
  }
}

// On NavBar Collapsed --
.app-navbar-wrap.collapsed {
  .app-input-search-box {
    margin: 5px;
    width: fit-content;
    border-radius: 4px;
    padding: 10px 15px;

    &:hover {
      background-color: var(--color-ui-hover-strong);
    }
    &:active {
      opacity: 0.7;
    }

    &::after {
      width: auto;
      margin: unset;
      font-size: 22px;
      position: initial;
    }
    
    input {
      display: none;
    }
  }
}