.app-navbar-wrap {
  .app-input-search-box {
    width: -webkit-fill-available;
    width: -moz-available;
    user-select: none;
    margin: 5px 15px;
  }
}

// On NavBar Collapsed --
@media only screen and (min-width: 760px) {
  .app-navbar-wrap.collapsed {
    .app-input-search-box {
      margin: 5px;
      padding: 8px 10px;
      width: fit-content;
      border-radius: 5px;

      &:hover {
        background-color: var(--color-ui-hover-strong);
      }
      &:active {
        opacity: 0.7;
      }

      &::after {
        width: auto;
        margin: unset;
        font-size: 20px;
        position: initial;
      }
      
      input {
        display: none;
      }
    }
  }
}