.app-navbar-submenu {
  .app-navbar-submenu-title {
    display: flex;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    overflow: hidden;
    align-items: center;
    border-radius: 5px;
    padding: 8px 14px;
    
  
    &:hover {
      background-color: var(--color-ui-hover-strong);
    }
   
    &:active {
      opacity: 0.7;
      transition: 0s ease;
    }

    &::after {
      font-size: 14px;
      content: "\f10c";
      align-self: center;
      font-family: icons10;
      transform-origin: center;
      transition: transform 167ms cubic-bezier(0, 0, 0, 1) 0.2s; // delay of 0.2s
    }

    &[aria-expanded=true] {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  .app-navbar-submenu-content {
    height: 0;
    overflow: hidden;
    transition: height 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  
    &.show {
      height: 500px;
      transition: height 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }
}

// On NavBar Collapsed --
@media only screen and (min-width: 760px) {
  .app-navbar-wrap.collapsed {
    .app-navbar-submenu-title {
      justify-content: center;
      &::after {
        font-size: 20px;
      }
      > :first-child {
        display: none;
      }
    }
  }
}