.app-navbar-submenu {
  .app-navbar-submenu-title {
    display: flex;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    flex-direction: row;
    justify-content: space-between;

    @if $platform == "windows10" {
      padding: 14px 25px;
    }
    @if $platform == "windows11" {
      overflow: hidden;
      margin: 5px 10px;
      border-radius: 4px;
      padding: 10px 15px;
    }
  
    &:hover {
      background-color: var(--color-ui-hover-strong);
    }

    @if $platform == "windows10" {
      &:active {
        @extend .transition-scale-active;
        transition: 0s ease;
        background-color: var(--color-button-default);
      }
    }
    @if $platform == "windows11" {
      &:active {
        opacity: 0.7;
        transition: 0s ease;
      }
    }

    &::after {
      font-size: 14px;
      content: "\f10c";
      align-self: center;
      font-family: icons10;
      transform-origin: center;
      transition: transform 167ms cubic-bezier(0, 0, 0, 1);
    }

    &[aria-expanded=true] {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  .app-navbar-submenu-content {
    height: 0;
    overflow: hidden;
    transition: height 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  
    &.show {
      height: 500px;
      transition: height 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }
}