.app-navbar-wrap .app-navbar-toggler {
  margin: 5px;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 5px;

  &:hover {
    background-color: var(--color-ui-hover-strong);
  }
  &:active {
    opacity: 0.7;
    &::after {
      transform: scaleX(0.64);
      transition: transform 20ms ease-in;
    }
  }
  &::after {
    display: block;
    font-size: 20px;
    content: "\f106";
    font-family: icons10;
    transition: transform 160ms ease-out;
  }
}