.app-nav-wrap .app-nav-toggle-button {
  padding: 15px 25px;
  cursor: pointer;

  &:hover {
    @extend .background-color-link-bg-hover;
  }
  &:active {
    @extend .background-color-link-bg-active;
  }
  &::after {
    @extend .font-icon-dark;
    content: "\f106";
    font-size: 24px;
  }
}