.app-nav-wrap nav ul {
  .app-hr {
    margin: 5px 15px;
  }
}
@mixin nav-ul-hr-mobile() {
  .app-nav-wrap nav ul {
    .app-hr {
      height: 20px;
      margin: 2px 5px;
      position: relative;
      border: 1px solid var(--color_button);
      align-self: flex-start;
    }
  }
}