.app-nav-wrap nav .app-badge {
  height: 18px;
  width: auto;
  position: relative;
  top: -8px;
  margin-left: -10px;
  padding: 0 5px;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: white;
  border-radius: 50px;
  background: #ff3b30;
}