.app-name {
  @extend .color-text-dark;
  @extend .font-weight-500;
  @extend .transition-background-400ms;

  padding-inline-start: 10px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  font-size: 16px;
}

@mixin nav-appname-mobile() {
  .app-nav-wrap {
    .app-name {
      padding: 0 15px;
      font-size: 14px;
      position: fixed;
    }
  }
}