.app-nav-wrap {
  .app-nav-list {
    margin: 60px 0 0 0;
    padding: 0 0 40px 0;
    list-style: none;

    h1 {
      font-weight: 700;
      font-size: 15px;
      margin: 0;
      padding: 8px 0 8px 24px;

      &::-moz-selection {
        background: transparent;
        color: var(--color_text_dark);
      }
      &::selection {
        background: transparent;
        color: var(--color_text_dark);
      }
    }
  }
}

@mixin nav-ul-mobile() {
  .app-nav-wrap .app-nav-list {
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 0;
    margin: 0 auto;
    line-height: initial;
    white-space: nowrap;
    display: inline-flex;
    align-items: flex-start;
  }
}