*.d.ts linguist-language=TypeScript
**/*.d.ts linguist-vendored=false
**/*.d.ts linguist-generated=false
**/*.d.ts linguist-documentation=false
**/*.d.ts linguist-detectable=true
src/css-source/stylesheet-rtl/** linguist-detectable=false

# treat as docs dir
src/demo/** linguist-documentation
src/css-source/stylesheet-rtl/** linguist-documentation