*.d.ts linguist-language=TypeScript
**/*.d.ts linguist-vendored=false
**/*.d.ts linguist-generated=false
**/*.d.ts linguist-documentation=false
**/*.d.ts linguist-detectable=true
src/css-source/stylesheet-rtl/** linguist-detectable=false
src/css-source/stylesheet/variables/** linguist-detectable=false

# treat as docs dir
src/demo/v4.2.0** linguist-documentation
src/demo/v4.2.1** linguist-detectable=false