.app-alert-bar {
  gap: 10px;
  display: flex;
  font-size: 15px;
  padding: 7px 10px;
  border-radius: 4px;
  align-items: center;
  flex-direction: row;
  // box-shadow: 0 0 2px #{'rgb(0 0 0 / 15%)'};
  border: 1px solid #{'hsla(0, 0%, 0%, 8%)'};

  &::before {
    font-size: 22px;
    font-weight: 400;
    padding-left: 5px;
    font-family: icons10;
  }

  &.alert-secondary {
    background: #dddddd22;
    &::before, strong {
      content: "\f1cf";
      color: var(--color-primary-adaptive);
    }
  }
  &.alert-success {
    background: #57E84A22;
    &::before, strong {
      content: "\f130";
      color: var(--color-success-default);
    }
  }
  &.alert-danger {
    background: #E8475622;
    &::before, strong {
      content: "\f1a9";
      color: var(--color-danger-default);
    }
  }
  [aria-label="Close"] {
    padding: 0;
    border: none;
    background: transparent;
    &:hover {
      background-color: #55555522;
    }
    &:active {
      opacity: 0.7;
    }
    &::after {
      padding: 5px;
      border-radius: 4px;
      font-size: 24px;
      font-family: icons10;
      content: "\f116";
    }
  }

  .app-alert-bar-content {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
}