button,
.app-btn {
  gap: 5px;
  grid-gap: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  @extend .input-btn-default;

  &:focus, &:active, &:focus:active {
    outline: none;
  }
  &:focus-visible {
    outline: 1px solid var(--color-text-default);
  }
}

.app-btn {
  min-height: 32px;
  padding: 6px 11px;
  vertical-align: middle;
  
  &.btn-is-loading {
    cursor: auto;
    span {
      opacity: 0;
    }
  }

  &.app-btn-primary {
    background-color: var(--color-primary-adaptive);
  }
  &.app-btn-subtle {
    border-color: transparent;
    background-color: transparent;
    &:hover { background-color: var(--color-ui-hover-default); } 
  }
  &.app-btn-success { background: var(--color-success-default); }
  &.app-btn-danger { background: var(--color-danger-default); }

  &.app-btn-outline-primary {
    color: var(--color-day-primary-night-white);
    border: 1px solid var(--color-primary-adaptive);
    &:active { background-color: var(--color-primary-adaptive); }
    
  }
  &.app-btn-outline-danger {
    color: var(--color-danger-default);
    border-color: var(--color-danger-default);
    &:active { background-color: var(--color-danger-default); }
  }
  &.app-btn-outline-success {
    color: var(--color-success-default);
    border-color: var(--color-success-default);
    &:active { background-color: var(--color-success-default); }
  }

  &.app-btn-primary,
  &.app-btn-danger,
  &.app-btn-success {
    color: var(--color-scheme-absolute);
    border-color: rgba(255, 255, 255, 0.08);
    border-bottom-color: rgba(0, 0, 0, 0.8);
  }
  &[class*="outline"] {
    background-color: transparent;
    &:active {
      filter: unset;
      color: var(--color-scheme-absolute);
    }
    &[disabled] {
      backdrop-filter: grayscale(1);
    }
  }

 
  &[disabled] {
    @extend .input-field-default-disabled;
    span {
      pointer-events: none;
    }
    &:active, &:hover {
      @extend .input-field-default-disabled;
    }
  }

  .app-loader-busy {
    position: absolute;
  }
  span {
    transition: opacity ease 0.2s;
  }
  // If Icon is the only child
  i:only-child {
    font-size: 18px;
    line-height: 0;
  }
  // If Icon is the only child i.e its a IconButton.
  &:has(i:only-child) {
    padding: 0px 7px;
  }
}

@mixin button-mobile() {
  .app-btn {
    &:hover {
      opacity: 1;
    }
  }
  .app-btn:not([class*="outline"]) {
    &:hover:not(:active) {
      filter: none;
      opacity: 1;
    }
  }
}


  body.dark-theme {
    .app-btn-primary,
    .app-btn-danger,
    .app-btn-success {
      border-color: #{"hsla(0, 0%, 100%, 8%)"};
      border-bottom-color: #{"hsla(0, 0%, 0%, 14%)"};
    }
  }
