button,
.app-btn {
  gap: 5px;
  grid-gap: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;

  @if $platform == "windows11" {
    @extend .input-btn-default;
  }

  &:focus, &:active, &:focus:active {
    outline: none;
  }
  &:focus-visible {
    @if $platform == "windows10" { transition: 0s ease; }
    outline: 1px solid var(--color-text-default);
  }
}

.app-btn {
  height: 33px;
  vertical-align: middle;

  @if $platform == "windows10" {
    padding: 5px 15px;
    transition: 0.2s ease;
    border: 2px solid transparent;
    &:hover {
      filter: opacity(0.8);
      border-color: var(--color-button-hover);
    }
    &:active {
      filter: contrast(0.4);
      transition: 0.02s ease;
      border: 2px solid transparent;
    }
  }

  @if $platform == "windows11" {
    padding: 6px 11px;
  }
  
  &.btn-is-loading {
    cursor: auto;
    span { opacity: 0; }
  }

  &.app-btn-primary {
    @if $platform == "windows10" { background-color: var(--PrimaryColor); }
    @if $platform == "windows11" { background-color: var(--color-primary-adaptive); }
  }
  &.app-btn-subtle {
    border-color: transparent;
    background-color: transparent;
    &:hover { background-color: var(--color-ui-hover-default); } 
  }
  &.app-btn-success { background: var(--color-success-default); }
  &.app-btn-danger { background: var(--color-danger-default); }

  &.app-btn-outline-primary {
    color: var(--color-day-primary-night-white);
    @if $platform == "windows10" {
      border: 2px solid var(--PrimaryColor);
      &:active { background-color: var(--PrimaryColor); }
    }
    @if $platform == "windows11" {
      border: 1px solid var(--color-primary-adaptive);
      &:active { background-color: var(--color-primary-adaptive); }
    }
  }
  &.app-btn-outline-danger {
    color: var(--color-danger-default);
    border-color: var(--color-danger-default);
    &:active { background-color: var(--color-danger-default); }
  }
  &.app-btn-outline-success {
    color: var(--color-success-default);
    border-color: var(--color-success-default);
    &:active { background-color: var(--color-success-default); }
  }

  &.app-btn-primary,
  &.app-btn-danger,
  &.app-btn-success {
    color: var(--color-scheme-absolute);
    border-color: rgba(255, 255, 255, 0.08);
    border-bottom-color: rgba(0, 0, 0, 0.8);
  }
  &[class*="outline"] {
    background-color: transparent;
    &:active {
      filter: unset;
      color: var(--color-scheme-absolute);
    }
    &[disabled] {
      backdrop-filter: grayscale(1);
    }
  }

  @if $platform == "windows10" {
    &.animate:active {
      transform: scale(0.98, 0.98);
    }
  }
  
  &[disabled] {
    @extend .input-field-default-disabled;
    span { pointer-events: none; }
    &:active, &:hover {
      @extend .input-field-default-disabled;
    }
  }

  .app-loader-busy {
    position: absolute;
  }
  span {
    transition: opacity ease 0.2s;
  }
  // If Icon is the only child
  i:only-child {
    font-size: 24px;
  }
  // If Icon is the only child i.e its a IconButton.
  &:has(i:only-child) {
    padding: 6px;
  }
}

@mixin button-mobile() {
  .app-btn {
    &:hover {
      opacity: 1;
    }
  }
  .app-btn:not([class*="outline"]) {
    @if $platform == "windows10" {
      &:hover:not(:active) {
        filter: none;
        border-color: transparent;
      }
    }
    @if $platform == "windows11" {
      &:hover:not(:active) {
        filter: none;
        opacity: 1;
      }
    }
  }
}

@if $platform == "windows11" {
  body.dark-theme {
    .app-btn-primary,
    .app-btn-danger,
    .app-btn-success {
      border-color: #{"hsla(0, 0%, 100%, 8%)"};
      border-bottom-color: #{"hsla(0, 0%, 0%, 14%)"};
    }
  }
}