.app-checkbox {
  cursor: pointer;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    width: 20px;
    height: 20px;
    content: "";
    display: flex;
    padding: 1px;
    border-radius: 4px;
    border: 1px solid var(--color-input-border-strong);
    background-color: var(--color-ui-hover-default);
  }
  &::after {
    width: 0px;
    height: 8.5px;
    content: "";
    top: 5.4px;
    left: 3.4px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    transition: width 0.24s;
    background-image: url("data:image/svg+xml,%3Csvg width='14px' height='10px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='1,5 6,9 14,1' style='fill:none;stroke:black;stroke-width:1.6'/%3E%3C/svg%3E");
  }
  &:checked {
    &::before {
      padding: 0;
      background: var(--color-primary-adaptive);
      border: 2px solid var(--color-primary-adaptive);
    }
    
    &::after {
      width: 12px;
    }

    &:disabled {
      opacity: 0.8;
    }
  }
  
  &:checked:disabled::before,
  &:disabled::before {
    cursor: not-allowed;
  }
}
[data-theme="light"] .app-checkbox::after {
  filter: invert(1);
}