.app-input-calendar {
  @extend .input-field-default;
}
.app-input-container input[type^="date"]::-webkit-calendar-picker-indicator,
.app-input-container input[type="month"]::-webkit-calendar-picker-indicator,
.app-input-container input[type="week"]::-webkit-calendar-picker-indicator,
.app-input-container input[type="time"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  margin-right: 4px;
  height: 18px;
  width: 24px;
  &:hover {
    border-radius: 4px;
    filter: brightness(0.96);
    background-color: var(--color-navbar-bg-default);
  }
  &:active {
    opacity: 0.7;
  }
}

.app-input-container input[type^="date"],
.app-input-container input[type="month"],
.app-input-container input[type="week"],
.app-input-container input[type="time"] {
  position: relative;
  &:before {
    z-index: 1;
    right: 10px;
    height: 22px;
    display: flex;
    line-height: 0;
    font-size: 17px;
    position: absolute;
    align-items: center;
    font-family: icons10;
    pointer-events: none;
  }
}

.app-input-container input[type^="date"]:before,
.app-input-container input[type="week"]:before { content: "\f1cb"; }
.app-input-container input[type="month"]:before { content: "\f1e3"; }
.app-input-container input[type="time"]:before { content: "\f13c"; }