.app-link {
  font-weight: 400;
  display: inline-flex;
  line-break: anywhere;
  color: var(--color-primary-adaptive);

  &:hover {
    filter: contrast(0.4);
  }
  &:active {
    opacity: 0.6;
    filter: unset;
  }
}

.app-link-subtle {
  padding: 4px 6px;
  border-radius: 4px;
  color: var(--color-text-default);
  &:hover {
    background-color: var(--color-ui-hover-default);
  }
  &:active {
    opacity: 0.8;
  }
}

@mixin links-mobile() {
  .app-link {
    &:hover:not(:active) {
      filter: unset;
      opacity: 1;
    }
  }
}