.app-loader-bar {
  width: 400px;
  height: 24px;
  overflow: hidden;
  padding-top: 15px;

  .app-ldr-bar {
    width: 6px;
    height: 6px;
    left: -10px;
    border-radius: 50%;
    position: relative;
    background-color: var(--color-day-primary-night-white);
  }

  &.light {
    .app-ldr-bar {
      background-color: #fff;
    }
  }

  &.animate {
    .app-ldr-bar.ball-1 {
      animation: move 2s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }
    .app-ldr-bar.ball-2 {
      top: -6px;
      animation: move 2s 150ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }
    .app-ldr-bar.ball-3 {
      top: -12px;
      animation: move 2s 300ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }
    .app-ldr-bar.ball-4 {
      top: -18px;
      animation: move 2s 450ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }
  }
    
  @keyframes move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }
}

@mixin loader-bar-mobile() {
  .app-loader-bar {
    width: 90%;
  }
}