.app-radio-button {
  height: 20px;
  width: 20px;
  margin: 0;
  cursor: pointer;
  margin-top: 1px;
  appearance: none;
  border-radius: 28px;
  vertical-align: bottom;
  transition: border 0.2s ease;
  -webkit-tap-highlight-color: transparent; 
  background: var(--color-ui-hover-default);
  border: 1px solid var(--color-input-border-strong);

  &:checked {
    background: var(--color-background-default);
    border: 4.8px solid var(--color-primary-adaptive);
    transition: border-color 0.2s cubic-bezier(0.4, 0, 1, 1), border-width 0.2s cubic-bezier(0.4, 0, 1, 1);
    &:hover {
      border-width: 3.8px;
      transition: border-width 0.2s ease;
    }
    &:active {
      transition: 0s ease;
      border: 5.8px solid var(--color-primary-adaptive);
    }
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    transition: 0s ease;
    border: 5.8px solid var(--color-input-border-strong);
  }
  
  &:disabled {
    cursor: not-allowed;
    filter: opacity(0.7);
    border-color: var(--color-input-border-strong);
    background-color: var(--color-input-border-strong);
  }
}