.ui-switch-container {
  user-select: none;
  align-items: center;
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;

  .ui-switch {
    -webkit-user-drag: none;
    box-sizing: border-box;
    align-items: center;
    appearance: none;
    block-size: 20px;
    border-radius: 20px;
    display: inline-flex;
    inline-size: 40px;
    line-height: 20px;
    margin: 0;
    outline: none;
    position: relative;
    user-select: none;
    border: 1px solid var(--color-text-default);

    &:before {
      background: var(--color-text-default);
      block-size: 12px;
      border-radius: 7px;
      content: "";
      inline-size: 12px;
      inset-inline-start: 3px;
      position: absolute;
      transition: 100ms ease-out;
      will-change: translate;
    }
    &:hover {
      background-color: #77777755;
      &:before {
        block-size: 14px;
        inline-size: 14px;
      }
    }
    &:active {
      &:before {
        block-size: 14px;
        inline-size: 17px;
      }
    }

    // State Checked ----------
    &:checked {
      border: none;
      background-color: var(--color-primary-adaptive);
      &:before {
        background: var(--color-background-default);
        transform: translate(20px);
      }
      &:active {
        &::before {
          margin-inline-start: -4px;
        }
      }
      // Text for Checked Switch
      ~span::before {
        display: block;
        content: attr(data-on) !important;
      }
    }
  }

  >span::before {
    content: attr(data-off);
  }
  .ui-switch-label {
    padding-inline-end: 8px;
  }
  .ui-switch-label:last-child  {
    padding-inline-end: 0;
    padding-inline-start: 8px;
  }
}