.app-switch {
  user-select: none;
  align-items: center;
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;

  // State UnChecked
  >.app-switch-view {
    height: 21px;
    cursor: pointer;
    position: relative;
    border-radius: 50px;
    transition: 200ms ease-out;
    width: 42px; border: 1px solid var(--color-text-default);

    &:hover {
      opacity: 0.8;
    }
    &:active { filter: contrast(0.8); }

    &::before {
      width: 13px;
      height: 13px;
      position: absolute;
      top: 3px;
      left: 3px;
      display: block;
      content: '';
      border-radius: 18px;
      transition: 200ms;
      will-change: translate;
      background: var(--color-text-default);
    }
  }

  >span::before {
    content: attr(data-off);
  }
  .app-switch-label {
    padding-right: 10px;
  }
  .app-switch-label:last-child  {
    padding-right: 0;
    padding-left: 10px;
  }

  input {
    display: none;
    // State UnChecked
    &:checked {
      ~.app-switch-view {
        
          border-color: var(--color-primary-adaptive);
          background-color: var(--color-primary-adaptive);
          &::before {
            background: var(--color-background-default);
            transform: translateX(calc(2 * 100% - 5px));
          }
        
      }
      ~span::before {
        display: block;
        content: attr(data-on) !important;
      }
    }
   
    &:disabled {
      ~.app-switch-view {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }
  }
}

    .toggle-switch {
      -webkit-user-drag: none;
      box-sizing: border-box;
      align-items: center;
      appearance: none;
      block-size: 20px;
      border-radius: 20px;
      display: inline-flex;
      inline-size: 40px;
      line-height: 20px;
      margin: 0;
      outline: none;
      position: relative;
      user-select: none;
      border: 1px solid var(--color-text-default);

      &:before {
        background: var(--color-text-default);
        block-size: 12px;
        border-radius: 7px;
        content: "";
        inline-size: 12px;
        inset-inline-start: 3px;
        position: absolute;
        transition: 100ms ease-out;
        will-change: translate;
      }

      &:hover {
        background-color: #77777755;
        &:before {
          block-size: 14px;
          inline-size: 14px;
        }
      }

      &:active {
        &:before {
          block-size: 14px;
          inline-size: 17px;
        }
      }

      // State Checked ----------
      &:checked {
        border: none;
        background-color: var(--color-primary-adaptive);

        &:before {
          background: var(--color-background-default);
          transform: translate(20px);
        }

        &:active {
          &::before {
            margin-inline-start: -4px;
          }
        }
      }
    }
    

@mixin switch-mobile() {
  .app-switch {
    > .app-switch-view:hover {
      opacity: 1;
    }
  }
}