.app-textarea {
  @extend .input-field-default;

  width: auto;
  height: auto;
  cursor: auto;
  padding: 5px 10px;
  font-family: inherit;
  line-height: normal;

  &.resizer-none {
    &::-webkit-resizer { display: none; }
  }
  &.resize-none { resize: none; }
  &.resize-vertical { resize: vertical; }
  &.resize-horizontal { resize: horizontal; }

  
}