@mixin scrollbar-win10() {
  ::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #777777DD;
    background-clip: padding-box;
    border: 6px solid transparent;
    border-top-width: 2px;
    border-bottom-width: 2px;
    @if $platform == "windows11" { border-radius: 4px; }
  }
  ::-webkit-scrollbar-thumb:horizontal {
    border-top-width: 6px;
    border-right-width: 2px;
    border-bottom-width: 6px;
    border-left-width: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    border: 2px solid transparent;
    background-color: #9D9D9D99;
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: #999999EE;
  }
  ::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ::-webkit-scrollbar-track:horizontal {
    margin-left: 5px;
    margin-right: 5px;
  }
  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }

  .app-navbar-wrap nav {
    &::-webkit-scrollbar-thumb {
      background-color: #99999955;
    }

    //Setting Margin-Top in ScrollBar for Navigation list.
    &::-webkit-scrollbar-track {
      margin-top: 60px;
    }
  }

  // NavBar State Toggled - ScrollBar
  .app-navbar-wrap.toggled nav {
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #99999977;
    }
  }
}

@mixin browser-webkit-mobile() {
  ::-webkit-scrollbar {
    height: 5px;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    border: none;
  }
  ::-webkit-scrollbar-track:horizontal {
    margin: 0;
  }
}