.home-header {
  width: 255px;
  color: #fff;
  margin: auto;
  display: flex;
  padding: 15px;
  font-size: 42px;
  text-align: center;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 14px;
  justify-content: center;
  background-color: #222;
  box-shadow: 0 2.74416px 2.74416px rgb(0 0 0 / 3%),
              0 5.48831px 5.48831px rgb(0 0 0 / 4%),
              0 13.7208px 10.9766px rgb(0 0 0 / 5%),
              0 20.5812px 20.5812px rgb(0 0 0 / 6%),
              0 41.1623px 41.1623px rgb(0 0 0 / 7%),
              0 96.0454px 89.1851px rgb(0 0 0 / 9%);
}
.home-title {
  font-weight: 800;
  font-size: 2.5rem;
  margin: -10px 0 0 0;
}
.home-color-picker {
  margin: auto;
  text-align: center;
}
.link-container {
  width: fit-content;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}
.link-container a:hover {
  background-color: transparent;
}

.home-header * {
  transition: 0.5s ease;
}

.root-flex-container-home {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.root-flex-subcontainer-home {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}


/* New Styles */
.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  position: fixed;
}
.backdrop-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 250%;
  z-index: -1;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;  
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.backdrop-overlay div {
  width: 10%;
  height: 10%;
  opacity: 0.05;
  min-width: 300px;
  min-height: 180px;
  margin-bottom: 0.75%;
  margin-right: 0.75%;
  border-radius: 1.5vh;
  border: 1px solid rgba(var(--primary-color-invert), 1);
}

.backdrop .acrylic-material {
  z-index: 1;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.backdrop .backdrop-image {
  filter: blur(25px);
  -webkit-filter: blur(25px);
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  background: url(../../../assets/static/backdrop.jpg) center/cover no-repeat;
}

.backdrop .acrylic-material,
.backdrop .backdrop-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.backdrop .acrylic-material::before {
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  background-blend-mode: normal, color, luminosity;
  background: -o-linear-gradient(bottom, rgba(239, 239, 239, 0.3), 
            rgba(239, 239, 239, 0.3)), 
            rgba(239, 239, 239, 0.95) url(../../../assets/static/noise.png) center/196px repeat;
  background: -webkit-gradient(linear, left bottom, left top, 
              from(rgba(239, 239, 239, 0.3)), 
              to(rgba(239, 239, 239, 0.3))), 
            rgba(239, 239, 239, 0.95) url(../../../assets/static/noise.png) center/196px repeat;
  background: linear-gradient(0deg, rgba(239, 239, 239, 0.3), 
            rgba(239, 239, 239, 0.3)), 
            rgba(239, 239, 239, 0.95) 
              url(../../../assets/static/noise.png) center/196px repeat;
}

body.dark-theme .backdrop  .acrylic-material::before {
  background: -o-linear-gradient(bottom, rgba(45, 45, 45, 0.2), 
  rgba(45, 45, 45, 0.2)), 
  rgba(45, 45, 45, .95) url(../../../assets/static/noise.png) center/196px repeat;
  background: -webkit-gradient(linear, left bottom, 
  left top, from(rgba(45, 45, 45, 0.2)), to(rgba(45, 45, 45, 0.2))), 
  rgba(45, 45, 45, .95) url(../../../assets/static/noise.png) center/196px repeat;
  background: linear-gradient(0deg, rgba(45, 45, 45, 0.2), 
  rgba(45, 45, 45, 0.2)), 
  rgba(45, 45, 45, .95) url(../../../assets/static/noise.png) center/196px repeat;
}

.home-code {
  width: 675px;
  margin-top: 12% !important;
  margin-left: 8px !important;
}


@media only screen and (max-width: 1000px) {
  .root-flex-container-home {
    height: 85vh;
  }
  .root-flex-subcontainer-home {
    width: fit-content;
    flex-direction: column;
  }
  .home-code {
    width: 295px;
    margin-top: 40px !important;
  }
  .home-title {
    margin-top: 15px;
    font-size: 2.2rem;
  }
}

body.dark-theme {
  --primary-color-invert: 255, 255, 255;
}

body {
  --primary-color-invert: 0, 0, 0;
}
