::-webkit-scrollbar {
  width: 0.85em;
}
::-webkit-scrollbar-thumb {
  background-color: #88888899;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #9D9D9D99;
}
::-webkit-scrollbar-thumb:active {
  background-color: #999999EE;
}

.app-nav-wrap nav {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &:hover::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #99999933;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #99999966;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: #99999988;
  }
  //Setting margin-top for laying scrollbar between navigation li items.
  &::-webkit-scrollbar-track {
    margin-top: 102px;
  }
}
.app-nav-wrap.toggled nav {
  &:hover::-webkit-scrollbar {
    width: 5px;
  }
}

@mixin browser-webkit-mobile() {
  ::-webkit-scrollbar {
    width: auto;
  }
  .app-nav-wrap nav {
    overflow-x: overlay !important;

    &::-webkit-scrollbar {
      height: 5px;
    }
  }
}