.app-navbar-submenu {
  .app-navbar-submenu-title {
    @extend .transition-background-400ms;

    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
    justify-content: space-between;

    @if $platform == "windows10" {
      padding: 14px 25px;
    }
    @if $platform == "windows11" {
      margin: 5px 10px;
      border-radius: 6px;
      padding: 12px 20px;
    }
  
    &:hover { background-color: var(--color_link_bg_hover); }

    @if $platform == "windows10" {
      &:active {
        @extend .transition-scale-active;
        background-color: var(--color_button_default);
      }
    }
    @if $platform == "windows11" {
      &:active {
        opacity: 0.7;
      }
    }
    
  }
  .app-navbar-submenu-content {
    height: 0;
    overflow: hidden;
    transition: height 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  
    &.show {
      height: 500px;
      transition: height 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }
}