.app-navbar-theme-switch {
  display: grid;
  cursor: pointer;
  padding: 10px;
  margin: 5px 20px;
  border-radius: 6px;
  position: relative;
  align-items: center;
  flex-direction: row;
  grid-auto-flow: column;
  justify-content: flex-start;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background: var(--color-link-bg-hover);
  }
  &:active {
    background: var(--color-link-bg-active);
  }

  span {
    width: 100px;
    line-height: 1;
    font-size: 14px;
    user-select: none;
    padding-left: 12px;
    position: relative;
  }
}
.app-navbar-theme-switch input {
  display: none;
}


// Un-Checked Moon State
.app-navbar-theme-switch input + .app-navbar-theme-switch-view {
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transform: scale(1) rotate(-2deg);
  box-shadow: inset 7px -7px 0 0.09px #fff;
  transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}
.app-navbar-theme-switch input + .app-navbar-theme-switch-view:before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  transition: background 0.3s ease;
}
.app-navbar-theme-switch input + .app-navbar-theme-switch-view:after {
  content: "\f120";
  font-family: icons10;
  font-size: 40px;
  border-radius: 50%;
  margin: 0 0 0 -12px;
  position: absolute;
  transform: scale(0);
  transition: all 0.3s ease;
}


// Checked Sun State
.app-navbar-theme-switch input:checked + .app-navbar-theme-switch-view {
  box-shadow: inset 14px -14px 0 0 transparent;
  transform: scale(0.5) rotate(0deg);
  transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}
.app-navbar-theme-switch input:checked + .app-navbar-theme-switch-view:before {
  background: var(--color-text-default);
  transition: background 0.3s ease 0.1s;
}
.app-navbar-theme-switch input:checked + .app-navbar-theme-switch-view:after {
  transform: scale(1);
  transition: transform 0.5s ease 0.15s;
}