.app-navbar-wrap {
  .app-navbar-header {
    z-index: 2;
    display: flex;
    width: inherit;
    position: fixed;
    overflow: hidden;
    transition: inherit;
    align-items: center;
    background-color: var(--color_navbar_bg_default);
  }
}