.app-navbar-wrap {
  .app-nav-search {
    position: relative;
    ul {
      @extend .app-dropdown-ul-default;
  
      width: 250px;
      max-height: 240px;
      z-index: 1;
      left: 20px;
      margin-top: -5px;
      overflow: overlay;
      box-shadow: 0 1px 1px #88888877;
      background: var(--color-background-default);
  
      li a {
        &:hover { background: var(--color-grey-light); }
        &:active { background: var(--color-link-bg-hover) !important; }
      }
    }
  }
}

@media only screen and (min-width: 760px) {
  .app-navbar-wrap.toggled .app-nav-search ul {
    width: 50%;
    position: fixed;
    left: 22.5vw;
    top: 80px;
  }
}