.app-navbar-wrap {
  .app-navbar-header {
    @extend .background-color-nav;
    width: inherit;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    transition: inherit;
  }
}

@mixin nav-header-mobile() {
  .app-navbar-wrap {
    .app-navbar-header {
      position: relative;
      height: 40px;
    }
  }
}