.app-nav-wrap nav .app-badge {
  height: 18px;
  width: auto;
  color: white;
  background: #ff3b30;
  padding: 1px 5px;
  position: relative;
  top: -8px;
  margin-left: -10px;
  display: inline;
  font-size: 12px;
  font-weight: 500;
  border-radius: 50px;
  line-height: 1.5;
}