.app-fluent-navlink {
    @extend .transition-background-400ms;
    padding: 0 0 1px 0;
    overflow: hidden;
    border: none;
    background: var(--color_nav) content-box !important;
    position: relative;
    &:hover {
        background: var(--color_button) content-box !important;
    }
    &:active {
        background: var(--color_link_bg_active) content-box !important;
    }
    a {
        z-index: 1;
    }
}