.app-nav-wrap {
    .app-search-box {
        width: 240px;
        margin: 0 0 10px 20px;
        filter: opacity(0.7);
    }

    .app-search-dialog {
        height: 40px;
        width: 100%;
        position: fixed;
        top: 0;
        justify-content: center;
        display: flex;
        padding: 10px 0 10px 10vw;
        background: var(--color_nav);
        align-items: center;
        transform: translateY(-100%);
        transition: 0.2s ease;

        &.show {
            transform: translateY(0%);
        }

        .app-input-search {
            width: 50%;
            height: 35px;
            padding-left: 45px;
        }
        i {
            font-size: 21px;
            margin-right: -35px;
            z-index: 1;
        }
        .icons10-cross {
            margin: 0;
            color: var(--color_dark_text);
        }
        button {
            width: 40px;
            border: none;
            background-color: transparent;
        }
    }
    .app-search-dialog-trigger {
        display: none;
    }

    &.toggled {

        .app-search-box {
            display: none;
        }

        .app-search-dialog-trigger {
            height: 45px;
            font-size: 24px;
            padding-left: 25px;
            display: flex;
            align-items: center;

            &:hover {
                background-color: var(--color_link_bg_hover);
            }
            &:active {
                background-color: var(--color_link_bg_active);
            }
        }

    }
}

@mixin app-navbar-search-mobile() {
    .app-nav-wrap {
        .app-search-box {
            display: none;
        }
        .app-search-dialog {
            padding: 6px 0 0 20px;
            .app-input-search {
                width: 70%;
            }
        }
        .app-search-dialog-trigger {
            display: inline;
            font-size: 22px;
            padding: 0 10px 0 15px;
            vertical-align: sub;
        }
    }
}