label.app-checkbox {
  user-select: none;
  @extend .tap-highlight-none;
  cursor: pointer;

  &:active input[type="checkbox"] {
    transition: 0.02s ease;
    transform: scale(0.85, 0.85);
  }

  input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    -moz-appearance: none;
    transition: 0.2s ease;

    &::before {
      @extend .transition-background-400ms;
      width: 16px;
      height: 16px;
      content: "";
      display: flex;
      margin-top: -3px;
      margin-left: -3px;
      border-radius: 0;
      border: 2px solid var(--color_button_hover);
      background-color: var(--color_bg_light);
      border-radius: 4px;
    }
    &:checked {
      &::before {
        background: var(--PrimaryColor);
        border: 2px solid var(--PrimaryColor);
      }
      &::after {
        width: 5px;
        height: 10px;
        content: "";
        position: absolute;
        top: -1px;
        left: 3px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }

      &:disabled {
        &::before {
          background: var(--color_link_bg_hover);
          border: 2px solid var(--color_button_hover);
        }
        &::after {
          border: solid var(--color_button_hover);
          border-width: 0 2px 2px 0;
        }
      }
    }
    
    &:checked:disabled::before,
    &:disabled::before {
      cursor: not-allowed;
    }
  }
}