.app-commandbar-btn-container {
  @extend .user-select-none;
  @extend .tap-highlight-none;

  width: min-content;
  height: min-content;
  position: relative;
  display: inline-flex;
  flex-direction: column;

  .app-commandbar-button {
    width: max-content;
    border: none;
    font-size: 15px;
    background: none;
    padding: 8px 10px;
    transition: 0.2s;
    color: var(--color_text_dark);

    &:hover {
      background: var(--color_grey_light_alpha);
    }
    &:active {
      background: var(--color_button);
    }

    i:not(.custom) {
      padding-right: 10px;
      transform: scale(1.28);
      transform-origin: left center;
    }

    &[disabled] {
      filter: contrast(0);
      pointer-events: none;
    }
  }
  
  ul {
    @extend .app-custom-dropdown-ul;
    max-height: 280px;
    
    li a {
      padding-right: 15px;
    }

    &.show.right {
      right: 0;
    }
  }

  hr {
    width: 1px;
    height: inherit;
    border: none;
    background: var(--color_link_bg_active);
  }

  &::after {
    all: unset;
  }
}

@mixin cmdbar-button-mobile() {
  .app-commandbar-button {
    &:hover:not(:active) {
      background: none;
    }
  }
}