.app-input-text {
  @extend .input-field-primary;
  @extend .transition-background-400ms;

  &:focus {
    outline: none;
  }

  &::-webkit-calendar-picker-indicator {
    width: 24px;
    height: 24px;
    padding-right: 5px;
    opacity: 1;
  }
}


.app-input-text-container {
  width: min-content;
  display: inline-flex;
  position: relative;

  .app-input-label {
    @extend .transition-background-400ms;
    width: max-content;
    padding: 4px 5px;
    border: 2px solid #999;
    border-right: none;
    border-radius: 6px;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
    background-color: var(--color_grey_light_alpha);
  }
  .app-input-label + .app-input-text {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
  .app-input-status-container {
    position: absolute;
    top: 4px;
    right: 5px;

    i::before {
      vertical-align: middle;
      margin-right: 5px;
      padding: 4px;
      content: "";
    }
    .app-loader-busy {
      top: 5px;
      display: none;
    }
  }

  button.unmask {
    vertical-align: middle;
    border: none;
    background: transparent;

    &::after {
      @extend .font-icon-dark;
      content: "\f189";
      font-size: 24px;
      cursor: pointer;
    }
  }
  
  input[type="password"].app-input-text + div button.unmask::after {
    content: "\f1db";
  }
  

  &.success {
    .app-input-text {
      border-color: #2C8B2C;
    }
    .app-input-status-container {
      i::before {
        content: "\f12e";
        color: #2C8B2C;
      }
    }
  }
  &.danger {
    .app-input-text {
      border-color: #C50500;
    }
    .app-input-status-container {
      i::before {
        content: "\f116";
        color: #C50500;
      }
    }
  }
  &.loading {
    .app-loader-busy {
      display: inherit;
    }
  }
}

@mixin input-date-mobile() {
  input[type="date"].app-input-text::before {
    padding-right: 5px;
    content: attr(placeholder);
  }
}