.app-link {
  color: var(--PrimaryColor);
  @extend .font-size-16px;

  font-weight: 400;
  line-height: 1.5;
  display: inline-flex;
  line-break: anywhere;

  &:focus {
    outline: none;
  }
  &:hover,
  &:active {
    color: #888;
    background: none !important;
  }
  &:active {
    color: var(--color_text_dark);
  }

  i {
    line-height: 0;
    font-size: 24px;
    padding-right: 8px;
  }
}

i.bg-primary::before {
  color: #fff;
  background-color: var(--PrimaryColor);
}
i.bg-grey::before {
  background-color: var(--color_link_bg_active);
}

@mixin links-mobile() {
  .app-link {
    &:hover {
      color: var(--PrimaryColor);
    }
  }
}