.app-loader-bar {
  width: 400px;
  height: 20px;
  overflow: hidden;
  padding-top: 15px;

  .app-loaderBar {
    background-color: var(--color_day_primary_night_white);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: relative;
    left: -10px;
  }

  &.light {
    .app-loaderBar {
      background-color: #fff;
    }
  }

  &.animate {
    .app-loaderBar.first {
      animation: move 2s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }
    .app-loaderBar.second {
      top: -6px;
      animation: move 2s 150ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }
    .app-loaderBar.third {
      top: -12px;
      animation: move 2s 300ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }
    .app-loaderBar.fourth {
      top: -18px;
      animation: move 2s 450ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
    }
  }
    
  @keyframes move {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }
}

@mixin loader-bar-mobile() {
  .app-loader-bar {
    width: 90%;
  }
}