.app-select-menu.menubar {
  cursor: pointer;
  user-select: none;
  @extend .tap-highlight-none;
  
  &::after,
  span {
    height: inherit;
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
  }

  ul {
    @extend .app-custom-dropdown-ul;
    max-height: 280px;

    .app-input-search-box {
      width: inherit;
      .app-input-text {
        box-sizing: border-box;
        height: 35px;
        width: inherit;

        &:not(:focus) {
          border-color: #99999988;
        }
      }
    }
  }
}