.app-select-menu.react {
  @extend .tap-highlight-none;

  .app-select-header {
    width: initial;
    height: inherit;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i { font-size: 18px; }
  }
  &::after { display: none; }
  
  .app-select-body {
    width: inherit;
    max-height: 250px;
    overflow-y: auto;
    background: var(--color_navbar_bg);
    position: absolute;
    top: 100%;
    margin: 5px 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px #55555555;
    transition-property: visibility;
    opacity: 0;
    visibility: hidden;
    
    &.show {
      @extend .transition_dropdown_show;

      &.reverse {
        @extend .transition_dropdown_show_reverse;
        top: unset;
        bottom: 100%;
      }
    }
    .select-item {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      margin: 5px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      border-radius: 6px;
      position: relative;
      color: var(--color_dark_text);

      &:hover { background-color: var(--color_link_bg_hover); }
      &:active { background-color: var(--color_link_bg_active); }
      
      &.selected {
        background-color: var(--color_link_bg_hover);

        &::before {
          width: 5px;
          height: 20px;
          content: "";
          position: absolute;
          left: 0;
          border-radius: 50px;
          background-color: var(--PrimaryColor);
        }
      }
    }
  }
}