@-moz-document url-prefix() {
    
  ::-moz-selection {
    background-color: var(--PrimaryColor);
    color: #ffffff;
  }

  .app-content-wrap section {
    scrollbar-color: #999 transparent;
  }
  .app-navbar-wrap nav {
    scrollbar-width: thin;
  }
  .app-navbar-theme-switch {
    margin: 5px 10px 5px 20px;
  }
}
@mixin browser-mozilla-mobile() {
  .app-navbar-wrap nav {
    scrollbar-width: none;
  }
}