.demo-colors-container .app-hr{
  width: 450px;
}
.demo-colors-name {
  margin-right: 10px;
  width: 210px;
}
.demo-colors-value {
  font-style: italic;
  margin-left: 5px;
}

.demo-colors-box {
  width: 18px;
  height: 18px;
  margin: 2px 10px;
  border: 1px solid #77777777;
}