@import "./sub-items//Nav_AppName.scss";
@import "./sub-items/Nav_Li.scss";
@import "./sub-items/Nav_ToggleButton.scss";
@import "./sub-items/Nav_Badge.scss";
@import "./sub-items/Nav_SearchBox.scss";
@import "./sub-items/Nav_Hr.scss";

@import "./sub-components/NavBarSubMenu.scss";
@import "./sub-components/NavToggled.scss";
@import "./sub-components/NavHeader.scss";

@import "./navbar-mobile/NavBarMobileHasIcons.scss";
@import "./navbar-mobile/NavBarMobile.scss";

.app-nav-wrap {
  height: 100%;
  width: 290px;
  z-index: 5;
  transition: 0.2s ease;
  overflow-y: overlay;

  nav {
    @extend .transition-background-400ms;
    @extend .background-color-nav;
    height: inherit;
    width: inherit;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: overlay;
    z-index: inherit;

    &.animate {
      ul li {
        & :active { @extend .transition-scale-0_95; }
        a { @extend .transition-all-400ms; }
      }
    }

    ul {
      padding: 0 0 40px 0;
      list-style: none;

      h1 {
        font-weight: 700;
        margin: 0;
        padding: 8px 0 8px 24px;
        font-size: 15px;
      }
    }
  }
}