@import "./sub-items//Nav_AppName.scss";
@import "./sub-items/Nav_List_Li.scss";
@import "./sub-items/Nav_List_Ul.scss";
@import "./sub-items/Nav_ToggleButton.scss";
@import "./sub-items/Nav_Badge.scss";
@import "./sub-items/Nav_Hr.scss";

@import "./sub-components/NavBarSubMenu.scss";
@import "./sub-components/NavHeader.scss";
@import "./sub-components/NavSearchBox.scss";
@import "./sub-components/NavSearchUL.scss";
@import "./sub-components/NavThemeSwitcher.scss";

// @import "./navbar-mobile/NavBarMobile.scss";

@import "./AppNavToggled.scss";

.app-navbar-wrap {
  height: 100%;
  width: 290px;
  z-index: 5;
  overflow-y: overlay;
  transition: 0.2s ease;

  nav {
    @extend .transition-background-400ms;
    @extend .background-color-nav;
    height: inherit;
    width: inherit;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    display: block;
    z-index: inherit;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: overlay;

    &.animate {
      .app-navbar-list-item {
        & :active {
          @extend .transition-scale-active;
          transform: scale(0.98, 0.98);
        }
        a { @extend .transition-all-400ms; }
      }
    }
  }

  .app-navbar-topbar-mobile {
    height: 45px;
    width: 100%;
    z-index: 2;
    display: none;
    position: fixed;
    padding: 0 15px;
    align-items: center;
    background-color: var(--color_nav);
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.25);

    .app-navbar-toggle-button {
      padding: 5px;
    }
  }
}