@if $platform == "windows10" {
  :root {
    /* Day Mode */
    color-scheme: light;
    --platform: "windows10";
    --color-background-default: #FFFFFF;
    --color-button-default: #CDCDCD;
    --color-button-hover: #666666;
    --color-day-primary-night-grey: var(--PrimaryColor);
    --color-day-primary-night-primarylight: var(--PrimaryColor);
    --color-day-primary-night-white: var(--PrimaryColor);
    --color-foreground-default: #fff;
    --color-grey-light: #EEEEEE;
    --color-grey-light-alpha: #EEEEEED1;
    --color-link-bg-active: #B8B8B8;
    --color-link-bg-hover: #D8D8D8;
    --color-navbar-bg-default: #EEEEEE;
    --color-primary-alpha: #EEEEEE9C;
    --color-text-default: #000000;
  }
  [data-theme="dark"] {
    /* Night Mode */
    color-scheme: dark;
    --platform: "windows10";
    --color-background-default: #111111;
    --color-button-default: #555555;
    --color-button-hover: #999999;
    --color-day-primary-night-grey: #403E41;
    --color-day-primary-night-primarylight: var(--PrimaryColorLight);
    --color-day-primary-night-white: #FFFFFF;
    --color-foreground-default: #2B2B2B;
    --color-grey-light: #444444;
    --color-grey-light-alpha: #444444D1;
    --color-link-bg-active: #222222;
    --color-link-bg-hover: #555555;
    --color-navbar-bg-default: #403E41;
    --color-primary-alpha: #EEEEEE9C;
    --color-text-default: #FFFFFF;
  }
}

@if $platform == "windows11" {
  :root {
    /* Day Mode */
    color-scheme: light;
    --platform: "windows11";
    --color-background-default: #ffffff;
    --color-button-default: #e9e9e9;
    --color-button-hover: #666666;
    --color-day-primary-night-grey: var(--PrimaryColor);
    --color-day-primary-night-primarylight: var(--PrimaryColor);
    --color-day-primary-night-white: var(--PrimaryColor);
    --color-foreground-default: #fff;
    --color-grey-light: #EEEEEE;
    --color-grey-light-alpha: #EEEEEED1;
    --color-link-bg-active: #D8D8D8;
    --color-link-bg-hover: #E8E8E8;
    --color-navbar-bg-default: #F3F3F3;
    --color-primary-alpha: #EEEEEE9C;
    --color-text-default: #000000;
  }
  [data-theme="dark"] {
    /* Night Mode */
    color-scheme: dark;
    --platform: "windows11";
    --color-background-default: #111111;
    --color-button-default: #484848;
    --color-button-hover: #999999;
    --color-day-primary-night-grey: #403E41;
    --color-day-primary-night-primarylight: var(--PrimaryColorLight);
    --color-day-primary-night-white: #FFFFFF;
    --color-foreground-default: #2B2B2B;
    --color-grey-light: #444444;
    --color-grey-light-alpha: #444444D1;
    --color-link-bg-active: #262626;
    --color-link-bg-hover: #2D2D2D;
    --color-navbar-bg-default: #202020;
    --color-primary-alpha: #EEEEEE9C;
    --color-text-default: #FFFFFF;
  }
}


.color-danger {
  color: #C50500;
}
.color-success {
  color: #2C8B2C;
}
.bg-danger {
  background: #C50500 !important;
}
.bg-success {
  background: #2C8B2C !important;
}
.bg-danger,
.bg-success {
  color: #fff !important;
}