.font-size-16px {
  font-size: 16px !important;
}
.font-size-18px {
  font-size: 18px !important;
}
.font-size-20px {
  font-size: 20px;
}
.font-icon-dark {
  font-family: icons10;
  color: var(--color_text_default);
}
.font-icon-light {
  @extend .font-icon-dark;
  color: var(--color_background_default);
}
.color-primary {
  color: var(--color_day_primary_night_primarylight);
}

.app-align-center {
  align-items: center;
}
.app-flex {
  display: flex;
}
.app-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-inline-flex {
  display: inline-flex;
}

.tap-highlight-none {
  -webkit-tap-highlight-color: transparent;
}

.transition-background-400ms {
  transition: background 0.4s;
}
.transition-all-400ms {
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-property: background, transform, border;
}
.transition-scale-active {
  transition-duration: 0.09s;
  transform: scale(0.99, 0.99);
  transition-timing-function: ease;
  transition-property: background, transform;
}


@keyframes transition_dropdown {
  0% {
    transform: translate3d(0, -10px, 0);
    pointer-events: none;
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0px, 0);
    pointer-events: auto;
    opacity: 1;
  }
}
@keyframes transition_dropdown_reverse {
  0% {
    transform: translate3d(0, 10px, 0);
    pointer-events: none;
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
    opacity: 1;
  }
}
.transition_dropdown_show {
  visibility: visible;
  animation-fill-mode: both;
  animation-duration: 0.367s;
  animation-name: transition_dropdown;
  animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
}
.transition_dropdown_show_reverse {
  animation-name: transition_dropdown_reverse;
}


.input-field-default {
  width: 270px;  
  line-height: 1;
  font-size: 15px;
  box-shadow: none;
  padding: 0 0 0 10px;
  box-sizing: content-box;
  color: var(--color_text_default);
  background: var(--color_background_default);

  @if $platform == "windows10" {
    height: 30px;
    border: 2.4px solid #999;
    &:hover {
      border-color: #777;
    }
  }
  @if $platform == "windows11" {
    height: 32px;
    border-radius: 4px;
    margin-bottom: 1px;
    border: 1px solid #55555555;
    border-bottom: 1px solid #777;
    &:focus {
      margin-bottom: 0;
      border-bottom: 2px solid var(--color_day_primary_night_primarylight);
    }
  }
  
  &[disabled] {
    @extend .input-field-default-disabled;
  }
}
.input-field-default-disabled {
  cursor: not-allowed !important;
  filter: contrast(0.6) !important;
}
.app-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.app-dim-overlay {
  @extend .app-overlay;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #77777777;
  transition: visibility 0.25s, opacity 0.25s ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.app-dropdown-ul-default {
  top: 100%;
  padding: 0;
  cursor: auto;
  z-index: 999;
  margin: 5px 0;
  width: inherit;
  list-style: none;
  overflow-y: auto;
  font-weight: 500;
  border: 1px solid;
  overflow-x: hidden;
  visibility: hidden;
  position: absolute;
  background: var(--color_navbar_bg_default);
  @if $platform == "windows10" { border-color: var(--color_button_default); box-shadow: 0 1px 1px #55555544; }
  @if $platform == "windows11" { border-color: var(--color_grey_light); border-radius: 6px; box-shadow: 0 2px 7px #22222244; }

  &.show {
    @extend .transition_dropdown_show;
    &.reverse {
      @extend .transition_dropdown_show_reverse;
      top: unset;
      bottom: 100%;
    }
  }
  li {
    a, span {
      display: flex;
      line-height: 1;
      font-size: 15px; 
      padding: 8px 10px;
      position: relative;
      align-items: center;
      color: var(--color_text_default);
      @extend .tap-highlight-none;
      @if $platform == "windows11" { margin: 5px; border-radius: 4px; }

      &:hover {
        background-color: var(--color_link_bg_hover);
      }
      &:active {
        background-color: var(--color_link_bg_active);
      }
      i {
        line-height: 0;
        font-size: 18px;
        padding-right: 5px;
      }
    }
  }
}

.app-dialog-footer-default {
  padding: 15px;
  display: block;
  text-align: right;
  @if $platform == "windows11" {
    border-top: 1px solid var(--color_link_bg_hover);
    background-color: var(--color_navbar_bg_default);
  }
}