.app-menu-select {
  // Style, Padding for End Arrow & Title Text ------
  span,
  &::after {
    // height: inherit;
    padding-left: 10px;
    align-items: center;
    display: inline-flex;
  }

  .app-menu-list-item {
    &.selected span {
      background-color: var(--color-ui-hover-strong);
      
      &::before {
        width: 3px;
        height: 18px;
        content: "";
        position: absolute;
        left: 0;
        border-radius: 50px;
        background-color: var(--color-primary-adaptive);
      }
    }
    &.hidden {
      display: none;
    }
  }
  .app-menu-list {
    @extend .app-dropdown-ul-default;
  }
}





.app-select-text {
  // Show Checkbox Icon on Selected Text
  .app-dropdown-list-item.selected span::before {
    width: 20px;
    height: auto;
    content: "\f12e";
    position: relative;
    font-family: "icons10";
    background: transparent;
  }
}