.app-navbar-wrap .app-navbar-toggle-button {
  padding: 15px 25px;
  cursor: pointer;

  &:hover {
    background-color: var(--color_link_bg_hover);
  }
  &:active {
    background-color: var(--color_link_bg_active);
  }
  &::after {
    @extend .font-icon-dark;
    content: "\f106";
    font-size: 24px;
  }
}