.app-navbar-name {
  color: var(--color_text_dark);
  font-weight: 500;
  @extend .transition-background-400ms;

  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  padding-inline-start: 10px;

  &::-moz-selection {
    background: transparent;
    color: var(--color_text_dark);
  }
  &::selection {
    background: transparent;
    color: var(--color_text_dark);
  }
}

@mixin nav-appname-mobile() {
  .app-navbar-wrap {
    .app-navbar-name {
      padding: 0 15px;
      font-size: 14px;
      position: fixed;
    }
  }
}