.app-button-icon {
    @extend .transition-all-400ms;
    transition-duration: 0.2s;
    background-color: transparent;
    color: var(--PrimaryColor);
    border: none;
    vertical-align: middle;
    font-size: 24px;
    border-radius: 6px;

    &:hover {
        background-color: var(--color_primary_alpha);
        color: #fff;
    }
    &:active {
        transform: scale(0.94, 0.94);
    }
}

@mixin button-icon-mobile() {
    .app-button-icon {
        &:hover {
            background-color: transparent;
            color: var(--PrimaryColor);
        }
        &:active {
            background-color: var(--color_primary_alpha);
        }
    }
}