.app-dialog {
    @extend .background-color-light-grey;
    width: 440px;
    max-height: 54vh;
    position: fixed;
    top: 0;
    margin-top: 22vh;
    left: 32vw;
    border: 1px solid #999;
    box-shadow: 0 0 7vh rgba(0, 0, 0, 0.14);
    overflow-y: auto;
    z-index: 11;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    transform: translateY(50px);

    &.dropShadow {
        background-color: var(--color_light_grey_alpha);
        backdrop-filter: blur(24px);
    }

    &.show {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

@mixin dialog-mobile() {
    .app-dialog {
        width: 100%;
        width: -webkit-fill-available;
        width: -moz-available;
        left: 0;
        bottom: 0;
        top: initial;
        border-top: 1px solid #999;
        border-left: none;
        border-right: none;
        transform: translateY(100%); //adding full 100% to animate like bottomsheet
    }
}