.app-quantity {
    display: inline-flex;

    input[type="number"] {
        width: 208px;
        user-select: none;
        text-align: center;
        border-left: none;
        border-right: none;
        pointer-events: none;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }

    .quantity-button {
        @extend .background-color-bg-light;
        @extend .color-text-dark;
        width: 34px;
        border: 2px solid #999;
        text-align: center;
        font-size: 20px;

        &:hover {
            @extend .background-color-link-bg-hover;
        }
        &:active {
            @extend .background-color-link-bg-active;
        }
    }

    &[disabled] {
        @extend .input-field-primary-disabled;
    }
    &[disabled] .quantity-button {
        pointer-events: none;
    }
}