@mixin slider-bar-win-11() {
  input[type="range"] {
    width: calc(100% - (73px));
    height: 4px;
    outline: none;
    appearance: none;
    position: relative;
    padding: 0;
    border-radius: 18px;
    margin: 0 10px 0 0;
    background: #999999;
  
    &::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      cursor: pointer;
      user-select: none;      
      appearance: none;
      border-radius: 100px;
      -webkit-appearance: none;
      transition: all 0.14s ease-in-out;
      box-shadow: 0 0.5px 2px rgba(70, 70, 70, 0.85);
      border: 4px solid var(--color-slider-thumb-bg);
      background: var(--color-primary-adaptive);
  
      &:hover {
        transform: scale(1.1, 1.1);
        border: 3px solid var(--color-slider-thumb-bg);
      }
      &:active {
        transform: scale(1.0, 1.0);
        border: 5px solid var(--color-slider-thumb-bg);
      }
    }
    &::-moz-range-thumb {
      width: 12px;
      height: 12px;
      cursor: pointer;
      user-select: none;
      border-radius: 100px;
      transition: all 0.14s ease-in-out;
      box-shadow: 0 0 2px rgba(150, 150, 150, 0.8);
      border: 4px solid var(--color-slider-thumb-bg);
      background: var(--color-primary-adaptive);

      &:hover {
        transform: scale(1.1, 1.1);
        border: 3px solid var(--color-slider-thumb-bg);
      }
      &:active {
        transform: scale(1, 0.9);
        border: 5px solid var(--color-slider-thumb-bg);
      }
    }
  }
  &.slider-round {
    input[type="range"] {
      &::-webkit-slider-thumb {
        width: 8px;
        height: 26px;
        border: unset;
        box-shadow: unset;
      }
      &::-moz-range-thumb {
        width: 8px;
        height: 26px;
        border: none;
        box-shadow: unset;
      }
    }
  }
  &.slider-round-border {
    input[type="range"] {
      &::-webkit-slider-thumb {
        width: 20px !important;
        height: 20px;
        box-shadow: unset;
        border: 3px solid var(--color-primary-adaptive);
        background: var(--color-background-default);
      }
      &::-moz-range-thumb {
        width: 14px;
        height: 14px;
        box-shadow: unset;
        border: 3px solid var(--color-primary-adaptive);
        background: var(--color-background-default);
      }
    }
  }
}
