@import "./SliderBarUI.scss";

.app-range-slider {
  width: 140px;
  padding: 5px 0;
  position: relative;
  align-items: center;
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;

  &[data-win-orient="vertical"] {
    padding: 50% 0;
    display: table-cell;

    input[type="range"] {
      display: block;
      margin-top: -50%;
      transform-origin: top left;
      transform: rotate(-90deg) translate(-100%);
    
      // transform: rotate(90deg);
      // display: block;
    }
  }

  @include slider-bar-ui();

  .app-range-slider-popup {
    top: -40px;
    opacity: 0;
    line-height: 0;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 5px;
    border-radius: 4px;
    position: absolute;
    visibility: hidden;
    display: inline-block;
    box-shadow: 0 1px 1px #22222222;
    transition: opacity 0.4s ease-out;
    background: var(--color-navbar-bg-default);
    border: 1px solid var(--color-ui-border-default);
  }
}

@mixin slider-bar-mobile() {
  .app-range-slider {
    width: calc(280px + 18%);
    align-items: flex-start;
    flex-flow: column-reverse;

    .app-range-slider-popup {
      display: none;
    }
  }
}