.app-navbar-wrap .app-navbar-toggle-button {
  cursor: pointer;
  @if $platform=="windows10" { padding: 15px 25px; }
  @if $platform=="windows11" { padding: 10px 19px; margin: 5px; border-radius: 4px; }

  &:hover {
    background-color: var(--color-link-bg-hover);
  }
  &:active {
    background-color: var(--color-link-bg-active);
  }
  &::after {
    font-size: 24px;
    content: "\f106";
    @extend .font-icon-dark;
  }
}