.app-navbar-wrap .app-navbar-toggle-button {
  padding: 15px 25px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-link-bg-hover);
  }
  &:active {
    background-color: var(--color-link-bg-active);
  }
  &::after {
    font-size: 24px;
    content: "\f106";
    @extend .font-icon-dark;
  }
}