.app-navbar-wrap {
  .app-navbar-list {
    list-style: none;
    margin: 60px 0 0 0;
    padding: 0 0 40px 0;

    h1 {
      margin: 0;
      font-size: 15px;
      font-weight: 700;
      padding: 8px 0 8px 24px;

      &::-moz-selection {
        background: transparent;
        color: var(--color_text_default);
      }
      &::selection {
        background: transparent;
        color: var(--color_text_default);
      }
    }
  }
}