.app-section-container.transition {
  width: -webkit-fill-available;
  width: -moz-available;
  position: absolute;
  height: 100%;
  top: 0;

  &.transition-left {
    animation-duration: 0.7s;
    animation-name: animate-page;
    animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
  }

  @keyframes animate-page {
    0% {
      transform: translate3d(20px, 0px, 0px);
      pointer-events: none;
      opacity: 0;
    }
    100% {
      transform: translate3d(0px, 0px, 0px);
      pointer-events: auto;
      opacity: 1;
    }
  }
}