@import "./SliderBarWin10.scss";
@import "./SliderBarWin11.scss";

.app-range-slider {
  @extend .tap-highlight-none;

  width: 360px;
  padding: 5px 0;
  position: relative;
  align-items: center;
  display: inline-flex;

  @if $platform == "windows10" {
    @include slider-bar-win-10();
  }
  @if $platform == "windows11" {
    @include slider-bar-win-11();
  }

  span {
    line-height: 0;
    font-size: 18px;
    color: var(--color_text_default);
  }
  .app-range-slider-popup {
    padding: 12px 5px;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: -40px;
    font-size: 12px;
    font-weight: 700;
    transition: 0.08s ease;    
    background: var(--color_button_default);
    box-shadow: 0 0 2px var(--color_button_default);
  }
}

@mixin slider-bar-mobile() {
  .app-range-slider {
    width: calc(280px + 18%);
    align-items: flex-start;
    flex-flow: column-reverse;

    span {
      line-height: 2.2;
    }
    .app-range-slider-popup {
      display: none;
    }
  }
}