@mixin app-navbar-mobile() {
  .app-nav-wrap nav {
    width: 100%;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: scroll;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.25);
  
    .app-nav-list h1,
    .app-nav-toggle {
      display: none !important;
    }
  }

  .app-nav-wrap nav ul {
    li:hover,
    li a:hover {
      background: transparent !important;
    }
  }
  
  @include nav-appname-mobile();
  @include nav-header-mobile();
  @include nav-ul-mobile();
  @include nav-ul-li-mobile();
  @include nav-ul-hr-mobile();
  @include app-navbar-search-mobile();
  @include app-navbar-search-dialog-mobile();
  @include nav-submenu-mobile();
  @include nav-mobile-has-icons();
}