@mixin nav-mobile-has-icons() {
  .app-nav-wrap nav ul {
    &.app-mobile-has-icons {
      li {
        a {
          padding: 0 7px 10px;

          i::before {
            font-size: 28px;
          }
          &::after {
            width: 100%;
            left: 0;
          }
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  ul.app-mobile-has-icons .app-nav-list-item a span,
  ul:not(.app-mobile-has-icons) .app-nav-list-item a img,
  ul:not(.app-mobile-has-icons) .app-nav-list-item a i::before {
    display: none !important;
  }
}