.background-color-light-grey {
    background-color: var(--color_light_grey);
}

.background-color-light-bg {
    background-color: var(--color_light_bg);
}

.background-color-dark-text {
    background-color: var(--color_dark_text);
}

.background-color-nav {
    background-color: var(--color_nav);
}

.background-color-primary {
    background-color: var(--PrimaryColor);
}

.background-color-primary-light {
    background-color: var(--color_primary_light);
}

.background-color-primary-dark {
    background-color: var(--color_primary_dark);
}

.background-color-button {
    background-color: var(--color_button);
}


.background-color-link-bg-hover {
    background-color: var(--color_link_bg_hover);
}

.background-color-link-bg-active {
    background-color: var(--color_link_bg_active);
}


.border-color-primary {
    border-color: var(--PrimaryColor);
}

.color-dark-text {
    color: var(--color_dark_text);
}

.color-light-bg {
    color: var(--color_light_bg);
}

.color-button-hover {
    color: var(--color_button_hover);
}

.color-primary {
    color: var(--PrimaryColor);
}

.color-primary-light {
    color: var(--color_primary_light);
}

.color-white {
    color: #fff;
}

.font-size-16px {
    font-size: 16px;
}
.font-size-18px {
    font-size: 18px !important;
}
.font-size-20px {
    font-size: 20px;
}
.font-weight-500 {
    font-weight: 500;
}
.font-icon-dark {
    font-family: icons10;
    color: var(--color_dark_text);
}
.font-icon-light {
    @extend .font-icon-dark;
    color: var(--color_light_bg);
}

.display-block {
    display: block;
}
.display-none {
    display: none;
}

.vertical-align-middle {
    vertical-align: middle;
}

.outline-none {
    outline: none;
}
.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}

.tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
}

.transition-background-400ms {
    transition: background 0.4s;
}
.transition-all-400ms {
    transition-property: background, transform, border;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
.transition-scale-0_95 {
    transition-property: background, transform;
    transition-duration: 0.09s;
    transition-timing-function: ease;
    transform: scale(0.965, 0.965);
}

.user-select-none {
    user-select: none;
}

.input-field-primary {
    height: 28px;
    width: 270px;
    border: 2.4px solid #999;
    box-shadow: none;
    padding-left: 10px;
    font-size: 15px;
    line-height: 1;
    color: var(--color_dark_text);
    vertical-align: middle;
    background: var(--color_light_bg);
}
.input-field-primary-disabled {
    filter: contrast(0.6) !important;
    cursor: not-allowed !important;
}
.app-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.app-dim-overlay {
    @extend .app-overlay;
    z-index: 10;
    background: #77777777;
    transition: visibility 0.4s, opacity 0.4s linear;
    opacity: 0;
    visibility: hidden;
    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.app-custom-dropdown-ul {
    list-style: none;
    width: inherit;
    padding: 0;
    margin: 2px 0 0 0;
    position: absolute;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 5px 8px var(--color_button);
    z-index: 999;
    visibility: hidden;
    &.show {
        visibility: visible;
    }
    li {
        a {
            height: 35px;
            color: var(--color_dark_text);
            display: flex;
            align-items: center;
            padding-left: 10px;
            transition: background 0.2s;
            &:hover {
                @extend .background-color-link-bg-hover;
            }
            &:active {
                @extend .background-color-link-bg-active;
            }
            i {
                font-size: 21px;
                padding-right: 8px;
            }
        }
    }
}

