@import "./sub-components/AppName.scss";
@import "./sub-components/ListItem.scss";
@import "./sub-components/List.scss";
@import "./sub-components/ToggleButton.scss";
@import "./sub-components/Badge.scss";
@import "./sub-components/Hr_line.scss";
@import "./sub-components/Overlay.scss";
@import "./sub-components/SubMenu.scss";
@import "./sub-components/Header.scss";
@import "./sub-components/HeaderMobile.scss";
@import "./sub-components/SearchBox.scss";
@import "./sub-components/ThemeSwitch.scss";
@import "./NavBarCollapsed.scss";


.app-navbar-wrap {
  top: 0;
  left: 0;
  height: 100vh;
  position: sticky;

  nav {
    width: 270px;
    height: inherit;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-navbar-bg-default);
    overscroll-behavior: contain;
    /* prevent overscroll bounce on addressBar*/
    // -webkit-overflow-scrolling: touch;
    // transition: transform 0.2s ease, width 0.2s ease;
  }
}

@mixin app-navbar-mobile() {
  .app-navbar-wrap {
    z-index: 9;
    position: unset;
    nav {
      z-index: 10;
      position: fixed;
      overflow: hidden;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      
      
      :hover > li,
      :hover > .app-navbar-toggler,
      :hover > .app-navbar-submenu-title {
        background-color: transparent !important;
      }
    }
  }
}