@media only screen and (min-width: 760px) {
  .app-navbar-wrap.collapsed {
    ::-webkit-scrollbar {
      inline-size: 0px;
    }
    nav ul h1,
    nav a span,
    .app-navbar-name {
      display: none;
    }

    nav {
      width: 50px;
      li a {
        text-overflow: clip;
      }
      .app-hr {
        width: 56px;
        margin-left: 8px;
      }
    }
  }
}


// For Mobile device show Sliding NavBar
@media only screen and (max-width: 760px) {
  .app-navbar-wrap {
    overflow-x: hidden;
    .app-navbar-header-mobile {
      display: flex !important;
    }
    nav {
      transform-origin: 100% 50%;
      transform: translateX(-100%);
      transition: transform 0.2s ease-in-out;
    }
  }
  .app-navbar-wrap.collapsed-float {
    nav {
      transform-origin: 100% 50%;
      transform: translateX(0);
      transition: transform 0.2s ease-in-out;
    }
  }
}