.app-page-container {
  height: auto;
  flex: 1 1 auto;
  width: -moz-available;
  width: -webkit-fill-available;
  transition: 0.2s ease;

  &.has-padding {
    padding: 0 20px 0 35px;
  }
}

@mixin app-content-wrap-mobile() {
  .app-page-container {
    margin: 0 !important;
    padding-top: 50px !important; //for NavigationBar
    
    &.has-padding {
      padding: 0 20px;
    }
  }
}