.app-nav-wrap .app-nav-list {
  .app-hr {
    margin: 5px 15px;
  }
}
@mixin nav-ul-hr-mobile() {
  .app-nav-wrap .app-nav-list {
    .app-hr {
      width: 0;
      height: 20px;
      margin: 2px 5px;
      position: relative;
      align-self: flex-start;
      border: 1px solid var(--color_button);
    }
  }
}