@mixin colors-win11() {
  :root {
    --platform: "windows11";
    
    --color-danger-default: var(--dark, #FF99A3) var(--light, #C50500);
    --color-success-default: var(--dark, #6ACB5D) var(--light, #2C8B2C);
    --color-scheme-absolute: var(--dark, #000) var(--light, #FFF);

    --color-background-default: var(--dark, #111) var(--light, #FFF);
    --color-button-default: var(--dark, #3E3E3EDD) var(--light, #FEFEFEDD);
    --color-card-bg-default: var(--dark, #272727DD) var(--light, #FBFBFBDD);
    --color-day-primary-night-grey: var(--dark, #403E41) var(--light, var(--PrimaryColor));
    --color-day-primary-night-white: var(--dark, #FFF) var(--light, var(--PrimaryColor));
    --color-dropdown-menu-bg: var(--dark, #202020) var(--light, #F8F8F8);
    --color-foreground-default: var(--dark, #2B2B2B) var(--light, #fff);
    --color-foreground-dark: var(--dark, #444444) var(--light, #EEEEEE);
    --color-input-bg-default: var(--dark, #11111199) var(--light, #FFFFFF99);
    --color-input-border-default: var(--dark, #77777744) var(--light, #55555544);
    --color-input-border-strong: var(--dark, #9A9A9A) var(--light, #8A8A8A);
    --color-ui-active-default: var(--dark, #262626) var(--light, #D8D8D8);
    --color-navbar-bg-default: var(--dark, #202020) var(--light, #F3F3F3);
    --color-primary-adaptive: var(--dark, var(--PrimaryColorLight)) var(--light, var(--PrimaryColor));
    --color-progress-bg: var(--dark, #484848) var(--light, #E2E2E2);
    --color-slider-thumb-bg: var(--dark, #454545) var(--light, #FFF);
    --color-text-default: var(--dark, #FFF) var(--light, #000);
    --color-ui-border-default: var(--dark, #32323299) var(--light, #E3E3E399);
    --color-ui-hover-default: var(--dark, #44444477) var(--light, #EEEEEED1);
    --color-ui-hover-strong: var(--dark, #37373788) var(--light, #E1E0E088);

    --width-navbar-expanded: 270px;
    --width-navbar-collapsed: 60px;
  }
}