.app-navbar-wrap nav.animate.custom .app-navbar-header {
  position: absolute;
}

@media only screen and (max-width: 760px) {
  .app-navbar-wrap nav.animate.custom {
    transform-origin: unset;
    transform: unset;
    transition: unset;
  }
}