@mixin colors-light() {
  :root {
    color-scheme: light;
    --platform: "windows11";
    
    --color-danger-default: #C50500;
    --color-success-default: #2C8B2C;
    --color-scheme-absolute: #FFF;

    --color-background-default: #FFF;
    --color-button-default: #FEFEFEDD;
    --color-card-bg-default: #FBFBFBDD;
    --color-day-primary-night-grey: var(--PrimaryColor);
    --color-day-primary-night-white: var(--PrimaryColor);
    --color-dropdown-menu-bg: #F8F8F8;
    --color-foreground-default: #FFF;
    --color-foreground-dark: #EEEEEE;
    --color-input-bg-default: #FFFFFF99;
    --color-input-bg-hover: #333333A6;
    --color-input-bg-focused: #222222;
    --color-input-border-default: #55555544;
    --color-input-border-focused: #3B3B3B;
    --color-input-border-bottom: #666;
    --color-input-border-strong: #8A8A8A;
    --color-input-placeholder: #D1D1D1;
    --color-input-clear-bg: #2F2F2F;
    --color-ui-active-default: #D8D8D8;
    --color-navbar-bg-default: #F3F3F3;
    --color-primary-adaptive: var(--PrimaryColor);
    --color-progress-bg: #E2E2E2;
    --color-scroll-thumb: #777777DD;
    --color-scroll-thumb-active: #77777799;
    --color-scroll-thumb-hover: #777777EE;
    --color-slider-thumb-bg: #FFF;
    --color-text-default: #000;
    --color-ui-border-default: #E3E3E399;
    --color-ui-hover-default: #EEEEEED1;
    --color-ui-hover-strong: #E1E0E088;
  }
}