@media only screen and (min-width: 760px) {
  .app-navbar-wrap.toggled {
    height: 100%;
    width: 74px;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    display: inline-block;
      
    .app-navbar-name,
    nav a span,
    nav ul h1,
    .app-search-box {
      display: none;
    }

    nav {
      li a {
        text-overflow: clip;
      }
      .app-hr {
        width: 56px;
        margin-left: 8px;
      }
    }

    .app-search-dialog-trigger {
      height: 55px;
      font-size: 24px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

        &:hover { background-color: var(--color_link_bg_hover); }
        &:active { background-color: var(--color_link_bg_active); }
    }

    .app-navbar-submenu-title { 
      justify-content: center;
      
      > :first-child { display: none; }
    }
  }
}