.app-section-container.transition {
  opacity: 0 !important;
  position: absolute;
  top: 0;
  height: 100%;
  width: -webkit-fill-available;
  width: -moz-available;

  &.transition-left {
    opacity: 1 !important;
    animation-name: animate-page;
    animation-duration: 0.38s;
  }

  @keyframes animate-page {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}