.app-section-container {
    direction: rtl;
    padding-right: 290px;
    padding-left: unset;
    &.has-padding {
        padding-right: 320px;
        padding-left: unset;
    }
}

.app-nav-wrap.toggled {
    &+.app-section-container.has-padding {
        padding-right: 104px;
    }
    &+.app-section-container {
        padding-right: 74px;
    }
}