.app-nav-wrap {
    nav {
        right: 0;
        left: unset;
        direction: rtl;

        ul {
            h1 {
                padding: 8px 24px 8px 0;
            }
        }

        .app-switch {
            margin-right: 80px;
        }
    }
    .app-search-box {
        margin: 0 18px 10px 0;
    }
}