.template-container {
  display: flex;
  flex-wrap: wrap;
}

.template-container .true {
  border-color: var(--color-success-default) !important;
}

.template-desktop {
  border-radius: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px 0;
  display: flex;
  overflow: hidden;
  position: relative;
  overflow: visible;
  border: 8px solid #000;
}

.template-navbar {
  display: flex;
  flex-direction: column;
  background: var(--color-navbar-bg-default);
}

.temp-toggler {
  height: 5px;
  font-size: 22px;
  line-height: 0;
}

.temp-navitem {
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  gap: 10px;
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 10px;
  align-items: center;
  user-select: none;
  border: 1px solid transparent;
}

.temp-navimg {
  width: 16px;
  border-radius: 4px;
}

.temp-navitem-active::before {
  content: " ";
  height: 13px;
  width: 2.2px;
  margin-left: -15px;
  background-color: var(--color-primary-adaptive);
}

.temp-navsearch {
  border-radius: 4px;
  background-color: var(--color-input-bg-default);
  border: 1px solid var(--color-input-border-default);
  border-bottom: 1px solid #77777788;
}

.template-page-container {
  width: 200px;
  border: 1px solid transparent;
}

.template-page-container span {
  padding: 15px;
  font-size: 18px;
  user-select: none;
  position: relative;
  display: inline-flex;
}

.temp-title {
  line-height: 2;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
  margin: 0 0 0 5px;
  border-radius: 4px;
  padding-left: 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--color-progress-bg) !important;
}

.template-page-container {
  cursor: pointer;
}

.temp-divider {
  width: 1px;
  background: #000;
  margin: 45px 15px;
}

.code-container.getting-started {
  width: 44vw;
  max-height: 65vh;
  resize: auto;
}

.template-page-container:hover,
.temp-navitem:hover,
.temp-title:hover {
  border: 1px solid var(--color-success-default) !important;
}

.template-page-container:active,
.temp-navitem:active,
.temp-title:active {
  opacity: 0.7;
}
