@media only screen and (max-width: 760px) {
    @include browser-webkit-mobile();
    @include browser-mozilla-mobile();
    @include app-content-wrap-mobile();
    @include fluent-effect-mobile();
    @include header-fixed-container-mobile();
    @include app-navbar-mobile();
    @include alert-mobile();
    @include avatar-view-mobile();
    @include button-mobile();
    @include command-bar-mobile();
    @include dialog-mobile();
    @include input-date-mobile();
    @include input-search-mobile();
    @include links-mobile();
    @include link-compound-mobile();
    @include list-item-mobile();
    @include loader-bar-mobile();
    @include progress-bar-mobile();
    @include progress-bar-indeterminate-mobile();
    @include switch-mobile();
    @include slider-bar-mobile();
}