@-moz-document url-prefix() {
    
  ::-moz-selection {
    background-color: var(--PrimaryColor);
    color: white;
  }

  .app-content-wrap section {
    scrollbar-color: #999 transparent;
  }
  .app-nav-wrap nav {
    scrollbar-width: thin;
  }
  
  .app-dialog.dropShadow {
    background-color: var(--color_grey_light);
  }
  .app-alert {
    background-color: var(--PrimaryColor) !important;
    &.light {
      background-color: var(--color_grey_light) !important;
    }
  }
}
@mixin browser-mozilla-mobile() {
  .app-nav-wrap nav {
    scrollbar-width: none;
  }
}