::-webkit-scrollbar {
    width: 0.85em;
}
::-webkit-scrollbar-thumb {
    background-color: #88888899;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #99999999;
}

.app-nav-wrap nav {
    &::-webkit-scrollbar {
        width: 2px;
    }
    &:hover::-webkit-scrollbar {
        width: 14px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #99999933;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #99999966;
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: var(--color_link_bg_hover);
    }
    //Setting margin-top for laying scrollbar between navigation li items.
    &::-webkit-scrollbar-track {
        margin-top: 102px;
    }
}
.app-nav-wrap.toggled nav {
    &:hover::-webkit-scrollbar {
        width: 2px;
    }
}

@mixin browser-webkit-mobile() {
    ::-webkit-scrollbar {
        width: 10px;
    }
    .app-nav-wrap nav {
        &::-webkit-scrollbar {
            height: 0 !important;
        }
    }
}