@media only screen and (min-width: 760px) {
  .app-navbar-wrap.toggled {
    width: 72px;
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    display: inline-block;
      
    nav ul h1,
    nav a span,
    .app-input-search-box,
    .app-navbar-name,
    .app-navbar-theme-switch span {
      display: none;
    }

    nav {
      li a {
        text-overflow: clip;
      }
      .app-hr {
        width: 56px;
        margin-left: 8px;
      }
    }

    .app-search-dialog-trigger {
      height: 55px;
      display: flex;
      font-size: 24px;
      cursor: pointer;
      align-items: center;
      justify-content: center;

        &:hover { background-color: var(--color_link_bg_hover); }
        &:active { background-color: var(--color-link-bg-active); }
    }

    .app-navbar-submenu-title { 
      justify-content: center;
      
      > :first-child { display: none; }
    }
  }
}

// For Mobile device show Sliding NavBar

@media only screen and (max-width: 760px) {
  .app-navbar-wrap {
    .app-navbar-topbar-mobile {
      display: flex !important;
    }
    nav {
      transform-origin: 100% 50%;
      transform: translateX(-100%);
      transition: transform 0.2s ease-in-out;
    }
  }
  .app-navbar-wrap.toggled-float {
    nav {
      transform-origin: 100% 50%;
      transform: translateX(0);
      transition: transform 0.2s ease-in-out;
    }
  }
}