.app-dialog {
  @extend .app-dim-overlay;

  .app-dialog-modal {
    width: 440px;
    max-height: 54vh;
    z-index: 11;
    position: fixed;
    overflow-y: auto;
    border: 1px solid #999;
    background-color: var(--color_grey_light);
    box-shadow: 0 0 7vh rgba(0, 0, 0, 0.14);
    border-radius: 12px;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    transform: translateY(50px);

    &.dropShadow {
      background-color: var(--color_grey_light_alpha);
      backdrop-filter: blur(24px);
    }
  }

  &.show .app-dialog-modal {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@mixin dialog-mobile() {
  .app-dialog .app-dialog-modal {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    left: 0;
    bottom: 0;
    top: initial;
    border-left: none;
    border-right: none;
    border-top: 1px solid #999;
    transform: translateY(100%); //adding full 100% to animate like bottomsheet
  }
}