:root {
  --noise: url("../../../../assets/static/noise.png");
}
.home-header {
  color: #fff;
  display: flex;
  padding: 15px;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  width: fit-content;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  background-color: #222;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 28%);
}
.home-title {
  margin: 0;
  font-size: 60px;
  font-weight: 800;
}

.home-card-version {
  bottom: 25px;
  font-size: 16px;
  padding: 4px 8px;
  position: relative;
  border-radius: 28px;
  background: var(--color-card-bg-default);
}

.home-color-picker-grid {
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-template-rows: repeat(2, minmax(auto, 1fr));
}




/* New Styles */
.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  position: fixed;
}
.backdrop-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 250%;
  z-index: -1;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;  
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.backdrop-overlay div {
  width: 10%;
  height: 10%;
  opacity: 0.05;
  min-width: 300px;
  min-height: 180px;
  margin-bottom: 0.75%;
  margin-right: 0.75%;
  border-radius: 1.5vh;
  border: 1px solid rgba(var(--primary-color-invert), 1);
}

.backdrop .acrylic-material {
  z-index: 1;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.backdrop .backdrop-image {
  filter: blur(25px);
  -webkit-filter: blur(25px);
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  background: url(../../../../assets/static/backdrop.jpg) center/cover no-repeat;
}

.backdrop .acrylic-material,
.backdrop .backdrop-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.backdrop .acrylic-material::before {
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  background-blend-mode: normal, color, luminosity;
  background: -o-linear-gradient(bottom, rgba(239, 239, 239, 0.3), 
            rgba(239, 239, 239, 0.3)), 
            rgba(239, 239, 239, 0.95) var(--noise) center/196px repeat;
  background: -webkit-gradient(linear, left bottom, left top, 
              from(rgba(239, 239, 239, 0.3)), 
              to(rgba(239, 239, 239, 0.3))), 
            rgba(239, 239, 239, 0.95) var(--noise) center/196px repeat;
  background: linear-gradient(0deg, rgba(239, 239, 239, 0.3), 
            rgba(239, 239, 239, 0.3)), 
            rgba(239, 239, 239, 0.95) 
            var(--noise) center/196px repeat;
}

body.dark-theme .backdrop  .acrylic-material::before {
  background: -o-linear-gradient(bottom, rgba(45, 45, 45, 0.2), 
  rgba(45, 45, 45, 0.2)), 
  rgba(45, 45, 45, .95) var(--noise) center/196px repeat;
  background: -webkit-gradient(linear, left bottom, 
  left top, from(rgba(45, 45, 45, 0.2)), to(rgba(45, 45, 45, 0.2))), 
  rgba(45, 45, 45, .95) var(--noise) center/196px repeat;
  background: linear-gradient(0deg, rgba(45, 45, 45, 0.2), 
  rgba(45, 45, 45, 0.2)), 
  rgba(45, 45, 45, .95) var(--noise) center/196px repeat;
}

.home-code {
  width: 400px;
  margin: 45px !important;
}


@media only screen and (max-width: 1000px) {
  .home-title {
    margin-top: 15px;
    font-size: 2.2rem;
  }
}

body.dark-theme {
  --primary-color-invert: 255, 255, 255;
}

body {
  --primary-color-invert: 0, 0, 0;
}