.app-accordion {
  overflow: hidden;
}
.app-accordion-title {
  @extend .transition-all-400ms;
  @extend .tap-highlight-none;

  display: flex;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 15px;
  user-select: none;
  flex-direction: row;
  justify-content: space-between;
  @if $platform == "windows10" { background-color: var(--color_navbar_bg_default); }
  @if $platform == "windows11" { background-color: var(--color_button_default); border-radius: 4px; }
  &:active {
    background-color: var(--color_button_default);
    @extend .transition-scale-active;
  }
}
.app-accordion-panel {
  height: 0;
  overflow: hidden;
  transition: height 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &.show {
    height: 500px;
    transition: height 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}