.app-alert {
  color: #fff;
  @extend .app-dim-overlay;

  .app-alert-modal {
    width: 52%;
    z-index: 99;
    position: fixed;
    background: var(--PrimaryColor);
    box-shadow: 0 0 24vh rgba(0, 0, 0, 0.25);

    &.light {
      color: var(--color_text_dark);
      background-color: var(--color_grey_light);
  
      button {
        color: var(--color_text_dark);
        border: 2px solid var(--color_text_dark);
        
        &:active {
          color: var(--color_bg_light);
          background: var(--color_text_dark) !important;
        }
      }
    }
  }

  h1 {
    margin: 0;
    font-size: 1.7em;
    padding: 25px 32px 10px 32px;
    background-color: transparent;
  }
  .app-alert-message {
    min-height: 70px;
    font-size: 1em;
    padding: 0 32px;
    line-break: auto;
    text-align: justify;
  }
  .app-alert-btn-container {
    display: block;
    text-align: right;
    padding: 0 15px 10px 15px;
  }
  button {
    margin: 10px;
    color: #fff;
    font-size: 14px;
    display: inline;
    font-weight: 700;
    padding: 7px 3.4vw;
    border: 2px solid #fff;

    &:hover {
      opacity: 0.62;
    }
    &:active {
      opacity: 1;
      color: var(--PrimaryColor);
      background: #fff !important;
    }
  }

  h1,
  button,
  .app-alert-btn-container,
  .app-alert-message {
    background-color: transparent !important;
  }
}

body.dark-theme {
  .app-alert .app-alert-modal.light {
    background-color: var(--color_link_bg_active);
  }
}

@mixin alert-mobile() {
  .app-alert {
    .app-alert-modal {
      width: 100% !important;
      left: 0 !important;
      top: 0;
      margin: 0;
      transition: all 0.3s ease;
      transform: translateY(-100%);
    }

    &.show {
      .app-alert-modal {
        transition: all 0.3s ease;
        transform: translateY(0%);
      }
    }

    .alert-message {
      min-height: 50px;
    }

    button {
      padding: 3px 30px;
      margin: 15px 15px 15px 0;
    }
  }
}