.app-section-container {
  padding-left: 290px;
  transition: 0.2s ease;
  position: absolute;
  height: auto;
  top: 0;
  width: -moz-available;
  width: -webkit-fill-available;

  // @if $platform == "windows11" {
  //   background-color: var(--color-navbar-bg-default);
  // }

  &.has-padding {
    padding-left: 320px;
    padding-right: 20px;
  }
}

.app-section-cntr-inner {
  margin: 0 30px;
}

@if $platform == "windows11" {
  .app-section-cntr-foreground {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--color-link-bg-active);
    background: var(--color-foreground-default);
  }
}


// check if .app-section-cntr-inner has a sibling of same type
.app-section-cntr-inner:first-of-type:not(:only-of-type) {
  width: 70%;
}

.app-navbar-wrap.toggled + .app-section-container {
  padding-left: 74px;

  &.has-padding {
    padding-left: 104px;
  }
}

@media screen and (max-width: 70em) {
  .app-section-cntr-inner:first-of-type:not(:only-of-type) {
    width: auto;
  }
}

@mixin app-content-wrap-mobile() {
  .app-section-container {
    margin: 0 !important;
    padding: 50px 0 0 0 !important;
    
    &.has-padding {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
  .app-section-cntr-inner {
    margin: 15px;
  }
}