.app-section-container {
  padding-left: 290px;
  transition: 0.2s ease;

  &.has-padding {
    padding-left: 320px;
  }
}

.app-section-container-inner {
  margin: 0 30px;
}

// check if .app-section-container-inner has a sibling of same type
.app-section-container-inner:first-of-type:not(:only-of-type) {
  width: 70%;
}

.app-navbar-wrap.toggled + .app-section-container {
  padding-left: 74px;

  &.has-padding {
    padding-left: 104px;
  }
}

@media screen and (max-width: 70em) {
  .app-section-container-inner:first-of-type:not(:only-of-type) {
    width: auto;
  }
}

@mixin app-content-wrap-mobile() {
  .app-section-container {
    margin: 0 !important;
    padding: 50px 0 0 0 !important;
    
    &.has-padding {
      margin: 0 15px !important;
    }
  }
  .app-section-container-inner {
    margin: 15px;
  }
}