.app-avatar {
  z-index: 1;
  border-radius: 50%;
  text-align: center;
  background: #DDDDDD77;

  &.large {
    width: 164px;
    height: 164px;
  }
  &.medium {
    width: 124px;
    height: 124px;
  }
  &.small {
    width: 84px;
    height: 84px;
  }

  &.drop-shadow {
    z-index: 0;
    position: absolute;
    top: 14px;
    opacity: 0.8;
    filter: blur(8px);
  }
}
.app-avatar-container {
  position: relative;
  display: inline-flex;
  justify-content: center;

  .app-avatar-loader {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    align-items: center;
    border-radius: 50%;
    background: #44444477;
    

    .app-loader-busy {
      top: 35%;
      margin: auto;
    }
  }
}


@mixin avatar-view-mobile() {
  .app-avatar {
    &.large {
      width: 144px;
      height: 144px;
    }
    &.medium {
      width: 104px;
      height: 104px;
    }
    &.small {
      width: 64px;
      height: 64px;
    }
  }
}