.app-avatar {
  z-index: 1;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  text-align: center;
  background: #DDDDDD77;

  &.avatar-lg {
    width: 164px;
    height: 164px;
  }
  &.avatar-sm {
    width: 84px;
    height: 84px;
  }

  &.drop-shadow {
    top: 14px;
    z-index: 0;    
    opacity: 0.7;
    filter: blur(8px);
    position: absolute;
  }
}
.app-avatar-container {
  position: relative;
  display: inline-flex;
  justify-content: center;

  .app-avatar-loader {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    background: #44444477;
    

    .app-loader-busy {
      top: 35%;
      margin: auto;
    }
  }
}


@mixin avatar-view-mobile() {
  .app-avatar {
    width: 104px;
    height: 104px;
    &.avatar-lg {
      width: 144px;
      height: 144px;
    }
    &.avatar-sm {
      width: 64px;
      height: 64px;
    }
  }
}