@import "../repository";

html {
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
}
body {
  @if $repository == "react-windows-ui" {
    @extend .transition-background-400ms;
  }
  
  margin: 0;
  padding: 0;
  color: var(--color_text_dark);
  background-color: var(--color_bg_light);  
}
body.dark-theme {
  .color-primary {
    color: var(--PrimaryColorLight);
  }
}
.app-code {
  @extend .transition-background-400ms;
  margin: 0;
  padding: 5px;
  line-height: 1;
  border-radius: 6px;
  display: inline-block;
  background-color: var(--color_navbar_bg);
}

.app-container-screen {
  height: 100vh;
  background-color: var(--color_bg_light);

  &.primary {
    background-color: var(--color_day_primary_night_grey);
  }
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.75em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
  opacity: 0.58;
}

a {
  color: #444;
	outline: none;
	font-weight: 500;
  text-decoration: none;

  &:hover {
    background-color: #DDD;
  }
}

.app-hr {
  @extend .transition-background-400ms;
  width: 95%;
  height: 1px;
  margin: 10px 10px 10px 0;
  background: var(--color_button);
}

.m-0 {
  margin: 0;
}
.m-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.m-tb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.m-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-20 {
  margin-bottom: 20px;
}

p.light {
  font-weight: 100;
}