button,
.app-btn {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @extend .tap-highlight-none;

  @if $platform == "windows11" {
    border-radius: 4px;
    border: 1.5px solid;
    border-color: rgba(0, 0, 0, 0.06);
    border-bottom-color: rgba(0, 0, 0, 0.16);
  }

  &:focus, &:active, &:focus:active {
    outline: none;
  }
  &:focus-visible {
    transition: 0s ease;
    outline: 1px solid var(--color_button_hover);
  }
}
.app-btn {
  height: 35px;
  font-size: 15px;
  user-select: none;
  transition: 0.2s ease;
  vertical-align: middle;
  color: var(--color_text_dark);
  background-color: var(--color_button_default);

  @if $platform == "windows10" {
    padding: 5px 15px;
    border: 2px solid transparent;
    &:hover {
      filter: opacity(0.8);
      border-color: var(--color_button_hover);
    }
    &:active {
      filter: contrast(0.4);
      transition: 0.02s ease;
      border: 2px solid transparent;
    }
  }
  @if $platform == "windows11" {
    padding: 6px 11px;
    &:hover {
      opacity: 0.8;
      transition: 0s ease;
    }
    &:active {
      filter: brightness(0.8);
    }
  }
  
  &.btn-is-loading {
    cursor: auto;
    span { opacity: 0; }
  }

  &.btn-primary {
    background-color: var(--PrimaryColor);
    @if $platform == "windows11" {
      border-color: rgba(255, 255, 255, 0.08);
      border-bottom-color: rgba(0, 0, 0, 0.8);
    }
  }

  &.btn-primary-outline {
    color: var(--color_day_primary_night_white);
    @if $platform == "windows10" { border: 2px solid var(--PrimaryColor); }
    @if $platform == "windows11" { border: 1px solid var(--PrimaryColor); }

    &:active {
      background-color: var(--PrimaryColor);
    }
  }

  &.btn-danger {
    background: #C50500;
  }
  &.btn-danger-outline {
    color: #C50500;
    border-color: #C50500;
    &:active { background-color: #C50500; }
  }

  &.btn-success {
    background: #2C8B2C;
  }
  &.btn-success-outline {
    color: #2C8B2C;
    border-color: #2C8B2C;
    &:active { background-color: #2C8B2C; }
  }

  &.btn-primary, &.btn-danger, &.btn-success {
    color: #fff;
  }
  &[class*="outline"] {
    background-color: transparent;
    &:active {
      color: #fff;
      filter: unset;
    }
    &[disabled] {
      backdrop-filter: grayscale(1);
    }
  }

  @if $platform == "windows10" {
    &.animate:active {
      transform: scale(0.98, 0.98);
    }
  }
  
  &[disabled] {
    @extend .input-field-primary-disabled;
    
    span { pointer-events: none; }
    &:active, &:hover {
      @extend .input-field-primary-disabled;
    }
  }

  .app-loader-busy {
    position: absolute;
  }
  span {
    transition: opacity ease 0.2s;
  }
  // check if button child span has a sibling of same type
  span:first-of-type:not(:only-of-type) {
    padding-right: 5px;
  }
}

@mixin button-mobile() {
  .app-btn:not([class*="outline"]) {
    @if $platform == "windows10" {
      &:hover {
        filter: none;
        border-color: transparent;
      }
      &:active {
        filter: contrast(0.4);
      }
    }
    @if $platform == "windows11" {
      &:hover {
        filter: none;
      }
    }
  }
}

@if $platform == "windows11" {
  body.dark-theme {
    .btn-primary {
      color: #000;
      border-bottom-color: rgba(200,200,200,0.5);
      background-color: var(--PrimaryColorLight);
    }
    .btn-primary-outline {
      border-color: var(--PrimaryColorLight);
    }
  }
}