.app-btn-icon {
  border: none;
  font-size: 24px;
  padding: 5px 10px;
  vertical-align: middle;
  background-color: transparent;
  @if $platform == "windows10" { transition: 0.2s ease; }
  

  &:hover {
    background-color: var(--color-grey-light-alpha);
  }
  &:active {
    background-color: var(--color-link-bg-active);
    @if $platform == "windows10" {
      transition: 0.02s ease;
      transform: scale(0.965, 0.965);
    }
  }
  i {
    line-height: 0;
  }
}

@mixin button-icon-mobile() {
  .app-btn-icon {
    &:hover:not(:active) {
      background-color: transparent;
    }
  }
}