button,
.app-btn {
  @extend .tap-highlight-none;
  
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus,
  &:active,
  &:focus:active {
    outline: none;
  }
  &:focus-visible {
    transition: 0s ease;
    outline: 2px solid var(--color_button_hover);
  }
}
.app-btn {
  user-select: none;
  vertical-align: middle;
  color: var(--color_text_dark);
  background-color: var(--color_button);

  height: 35px;
  font-size: 15px;
  padding: 5px 15px;
  transition: 0.2s ease;
  border: 2px solid transparent;

  &:hover {
    filter: opacity(0.8);
    border-color: var(--color_button_hover);
  }
  &:active {
    filter: contrast(0.4);
    transition: 0.02s ease;
    border: 2px solid transparent;
  }
  &.btn-is-loading {
    cursor: auto;

    span {
      opacity: 0;
    }
  }

  &.btn-primary {
    background-color: var(--PrimaryColor);
  }
  &.btn-primary-outline {
    color: var(--color_day_primary_night_white);
    border: 2px solid var(--PrimaryColor);

    &:active {
      background-color: var(--PrimaryColor);
    }
  }
  &.btn-danger {
    background: #C50500;
  }
  &.btn-danger-outline {
    border: 2px solid #C50500;
    color: #C50500;
    &:active {
      background-color: #C50500;
    }
  }
  &.btn-success {
    background: #2C8B2C;
  }
  &.btn-success-outline {
    border: 2px solid #2C8B2C;
    color: #2C8B2C;
    &:active {
      background-color: #2C8B2C;
    }
  }
  &.btn-primary,
  &.btn-danger,
  &.btn-success {
    color: #fff;
  }
  &.btn-primary-outline,
  &.btn-success-outline,
  &.btn-danger-outline {
    background-color: transparent;

    &:active {
      color: #fff;
      filter: unset;
    }
    &[disabled] {
      backdrop-filter: grayscale(1);
    }
  }
  &.animate:active {
    transform: scale(0.98, 0.98);
  }
  &[disabled] {
    @extend .input-field-primary-disabled;
    
    span {
      pointer-events: none;
    }
    &:active,
    &:hover {
      @extend .input-field-primary-disabled;
    }
  }

  .app-loader-busy {
    position: absolute;
  }
  span {
    transition: opacity ease 0.2s;
  }
  i.color-primary {
    color: var(--PrimaryColor);
  }
  // check if button child span has a sibling of same type
  span:first-of-type:not(:only-of-type) {
    padding-right: 5px;
  }
}

@mixin button-mobile() {
  .app-btn:not(.btn-primary-outline):not(.btn-danger-outline):not(.btn-success-outline) {
    &:hover {
      filter: none;
      border-color: transparent;
    }
    &:active {
      filter: contrast(0.4);
    }
  }
}