.app-btn-icon {
  font-size: 24px;
  vertical-align: middle;
  padding: 5px 10px;
  border: none;
  transition: 0.2s ease;
  background-color: transparent;
  

  &:hover {
    background-color: var(--color-grey-light-alpha);
  }
  &:active {
    transition: 0.02s ease;
    background-color: var(--color-link-bg-active);
    @if $platform == "windows10" { transform: scale(0.965, 0.965); }
  }
  i {
    line-height: 0;
  }
}

@mixin button-icon-mobile() {
  .app-btn-icon {
    &:hover {
      color: var(--PrimaryColor);
      background-color: transparent;
    }
    &:active {
      background-color: var(--color-primary-alpha);
    }
  }
}