.app-cmd-bar {
  @extend .transition-background-400ms;
  @extend .app-inline-flex;
  width: max-content;
  height: auto;  
}

ul.app-cmdbar-menu-list {
  @extend .app-dropdown-ul-default;
  width: max-content;
  max-height: 280px;
  overflow: visible;
  
  &.leftJustify {
    right: 0;
  }
}
ul.app-cmdbar-menu-list .cmdbar-submenu {
  position: absolute;
  left: 100%;
  top: 0;
}
.cmdbar-menu-list-item-hr {
  border: 0;
  height: 1px;
  margin: 0 5px;
  background-color: var(--color_link_bg_active);
}

.app-cmdbar-menu {
  position: relative;
  display: inline-flex;
}

.app-cmdbar-button {
  border: none;
  font-size: 15px;
  transition: 0.08s;
  background: none;
  padding: 8px 10px;
  width: max-content;
  color: var(--color_text_default);

  &:hover {
    background: var(--color_grey_light_alpha);
  }
  &:active {
    background: var(--color_button_default);
  }
  &[disabled] {
    filter: contrast(0);
    pointer-events: none;
  }

  > i + span {
    margin-left: 10px;
  }

  i {
    transform: scale(1.2);
    transform-origin: center;
  }
}

@mixin cmdbar-button-mobile() {
  .app-cmdbar-button {
    &:hover:not(:active) {
      background: none;
    }
  }
}