.app-gauge {
  @extend .transition-background-400ms;
  
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  cursor: default;

  .app-gauge-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 50%;
    background: var(--color_background_default);

    .app-gauge-value {
      font-weight: 500;
    }

    .app-gauge-info {
      opacity: 0.7;
      font-size: 16px;
      color: var(--color_text_dark);
    }
  }
}