.app-input-search-bar {
  button {
    @extend .transition-background-400ms;
    width: 30px;
    height: 30px;
    border: none;
    margin-left: -32px;
    background-color: var(--color_navbar_bg);
    
    &:hover,
    &:active {
      background-color: var(--PrimaryColor);
    }
    &:active {
      opacity: 0.65;
    }
    &::after {
      @extend .font-icon-dark;
      content: "\f1b9";
      font-size: 18px;
      font-weight: 600;
    }
    &:hover::after {
      color: var(--color_bg_light) !important;
    }
  }
}

.app-input-search-box {
  &::after {
    @extend .font-icon-dark;
    z-index: 1;
    font-size: 18px;
    font-weight: 600;
    content: "\f1b9";
    margin-left: -29px;
    align-self: center;
  }
}

.app-input-search-bar,
.app-input-search-box,
.app-search-dialog {
  align-items: center;
  display: inline-flex;

  input {
    &:active,
    &:focus {
      border-color: var(--PrimaryColor);
    }
    &::-webkit-search-cancel-button{
      right: 40px;
      position: relative;
    }
  }
}

@mixin input-search-mobile() {
  .app-input-search-bar {
    button:not(:active) {
      &:hover {
        background: var(--color_navbar_bg);
        &::after {
          color: var(--color_text_dark) !important;
        }
      }
    }
  }
}