.app-input-search-bar {
  button {
    width: 30px;
    height: 30px;
    border: none;
    margin-left: -32px;
    background-color: var(--color_navbar_bg_default);
    @extend .transition-background-400ms;
    
    &:hover, &:active {
      background-color: var(--PrimaryColor);
    }
    &:active {
      opacity: 0.65;
    }
    &::after {
      font-weight: 600;
      content: "\f1b9";
      @extend .font-icon-dark;
      @if $platform == "windows10" { font-size: 18px; }
      @if $platform == "windows11" { font-size: 16px; }
    }
    &:hover::after {
      color: #fff;
    }
  }
}

.app-input-search-box {
  &::after { 
    z-index: 1;
    content: "\f1b9";
    font-weight: 600;
    margin-left: -29px;
    align-self: center;
    @extend .font-icon-dark;
    @if $platform == "windows10" { font-size: 18px; }
    @if $platform == "windows11" { font-size: 16px; }
  }
}

.app-input-search-bar,
.app-input-search-box,
.app-search-dialog {
  width: inherit;
  align-items: center;
  display: inline-flex;

  input {
    @if $platform == "windows10" {
      &:active, &:focus {
        border-color: var(--PrimaryColor);
      }
    }
    &::-webkit-search-cancel-button{
      right: 40px;
      position: relative;
    }
  }
}

@mixin input-search-mobile() {
  .app-input-search-bar {
    button:not(:active) {
      &:hover {
        background: var(--color_navbar_bg_default);
        &::after {
          color: var(--color_text_dark) !important;
        }
      }
    }
  }
}