.app-link {
  @extend .font-size-16px;
  font-weight: 400;
  line-height: 1.5;
  display: inline-flex;
  line-break: anywhere;
  color: var(--PrimaryColor);

  &:hover,
  &:active {
    color: #888;
    background: none !important;
  }
  &:active {
    color: var(--color-text-default);
  }
}

body.dark-theme .app-link:not(:active):not(:hover) {
  color: var(--PrimaryColorLight);
}

@mixin links-mobile() {
  .app-link {
    &:hover {
      color: var(--PrimaryColor);
    }
  }
}