.app-link-compound {
    max-width: 310px;
    align-items: center;
    display: inline-flex;
    padding: 15px 15px 15px 10px;
    color: var(--color-text-default);
    border: 2px solid transparent;
    @extend .tap-highlight-none;
    @extend .transition-all-400ms;
    @if $platform == "windows11" { border-radius: 4px; }
    
    &:hover, &.focused {
      background-color: var(--color-grey-light-alpha);
    }
    &:active {
      @extend .transition-scale-active;
      filter: contrast(0.8);
    }
    .app-link-compound-container {
      align-items: center;
      display: inline-flex;
    }
    i {
      font-size: 36px;
      line-height: 1;

      &.bg-primary::before,
      &.bg-grey::before {
        padding: 3px;
        font-size: 30px;
      }
    }
    img {
      width: 37px;
      height: 37px;
      font-size: 8px;
      user-select: none;
      object-fit: cover;
      word-break: break-word;
      background-color: var(--color-link-bg-hover);
    }
    
    .app-link-compound-subcontainer {
      display: flex;
      margin-left: 10px;
      flex-direction: column;

      span {
        font-size: 15px;
        white-space: nowrap;
        line-break: anywhere;
        color: var(--color-text-default);
      }
      p {
        font-size: 12px;
        opacity: 0.8;
        margin: 0;
      }
      span, p {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .app-link-compound-container,
    .app-link-compound-subcontainer {
      overflow: hidden;
      max-width: inherit;
    }

    &.link-border {
      &:hover {
        border: 2px solid var(--color-link-bg-hover);
        background: transparent !important;
      }
      &:active {
        border: 2px solid var(--color-link-bg-active);
        background: var(--color-grey-light) !important;
      }
    }
}

div.app-link-compound {
  &:hover, &:active {
    transform: unset;
    transition: unset;
    background-color: unset;
  }
}
.app-link-compound-container > .app-switch {
  margin-left: 20px;
  margin-right: 0;
}

@mixin link-compound-mobile() {
  .app-link-compound:not(.focused):not(:active) {
    &:hover, &.link-border:hover {
      border-color: transparent;
      background: transparent;
    }
  }
}