.app-link-compound {
    @extend .transition-all-400ms;
    @extend .tap-highlight-none;
    max-width: 310px;
    align-items: center;
    display: inline-flex;
    padding: 15px 15px 15px 10px;
    color: var(--color_text_dark);
    border: 2px solid transparent;
    
    
    &:hover,
    &.focused {
      background-color: var(--color_grey_light);
    }
    &:active {
      @extend .transition-scale-active;
      background: var(--color_link_bg_hover);
    }
    .app-link-compound-container {
      align-items: center;
      display: inline-flex;
    }
    i {
      font-size: 36px;
      line-height: 1;

      &.bg-primary::before,
      &.bg-grey::before {
        font-size: 30px;
        padding: 3px;
      }
    }
    img {
      width: 37px;
      height: 37px;
      font-size: 8px;
      user-select: none;
      object-fit: cover;
      word-break: break-word;
      background-color: var(--color_link_bg_hover);
    }
    
    .app-link-compound-subcontainer {
      display: flex;
      margin-left: 10px;
      flex-direction: column;

      span {
        font-size: 15px;
        white-space: nowrap;
        line-break: anywhere;
        color: var(--color_text_dark);
      }
      p {
        font-size: 12px;
        opacity: 0.8;
        margin: 0;
      }
      span,
      p {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .app-link-compound-container,
    .app-link-compound-subcontainer {
      max-width: inherit;
      overflow: hidden;
    }


    &.link-border {
      &:hover {
        border: 2px solid var(--color_link_bg_hover);
        background: transparent !important;
      }
      &:active {
        border: 2px solid var(--color_link_bg_active);
        background: var(--color_grey_light) !important;
      }
    }
    &.link-border i,
    i.color-primary {
      color: var(--PrimaryColor);
    }
}

div.app-link-compound {
  &:hover,
  &:active {
    transform: unset;
    transition: unset;
    background-color: unset;
  }
}
.app-link-compound-container > .app-switch {
  margin-left: 20px;
  margin-right: 0;
}

@mixin link-compound-mobile() {
  .app-link-compound:not(.focused):not(:active) {
    &:hover,
    &.link-border:hover {
      border-color: transparent;
      background: transparent;
    }
  }
}