.app-loader-busy {
  opacity: 0;
  width: 30px;
  height: 30px;
  position: relative;
  align-items: center;
  display: inline-flex;
  justify-content: center;  
  transition: opacity 0.4s ease;

  &.loader-lg {
    width: 30px;
    height: 30px;

    .app-ldr-busy {
      width: 34px;
      height: 34px;

      .ldr-busy-ball {
        width: 4.8px;
        height: 4.8px;
      }
    }
  }

  &.loader-sm {
    .app-ldr-busy {
      width: 16px;
      height: 16px;

      .ldr-busy-ball {
        width: 3px;
        height: 3px;
      }
    }
  }

  .app-ldr-busy {
    opacity: 0;
    width: 25px;
    height: 25px;
    position: absolute;
    transform: rotate(225deg);
    animation: orbit 4.8s infinite;
    

    .ldr-busy-ball {
      width: 4.4px;
      height: 4.4px;
      top: 0;
      left: 0;
      box-shadow: none;
      border-radius: 50%;
      position: absolute;
      background-color: var(--color_day_primary_night_white);
    }

    &.ball-1 {
      animation-delay: 0.96s;
    }
    &.ball-2 {
      animation-delay: 0.19s;
    }
    &.ball-3 {
      animation-delay: 0.38s;
    }
    &.ball-4 {
      animation-delay: 0.58s;
    }
    &.ball-5 {
      animation-delay: 0.77s;
    }
  }
  &.animate {
    opacity: 1;
  }

  &.light {
    .app-ldr-busy .ldr-busy-ball {
      background: #fff;
    }
  }

      

  @keyframes orbit {
    0% {
      transform: rotate(225deg);
      opacity: 1;
      animation-timing-function: ease-out;
    }
    7% {
      transform: rotate(345deg);
      animation-timing-function: linear;
    }
    35% {
      transform: rotate(495deg);
      animation-timing-function: ease-in-out;
    }
    42% {
      transform: rotate(690deg);
      animation-timing-function: linear;
    }
    70% {
      opacity: 1;
      transform: rotate(835deg);
      animation-timing-function: linear;
    }
    76% {
      opacity: 1;
    }
    77% {
      transform: rotate(955deg);
      animation-timing-function: ease-in;
    }
    78% {
      transform: rotate(955deg);
      opacity: 0;
    }
    100% {
      transform: rotate(955deg);
      opacity: 0;
    }
  }
}

.app-loader-busy-overlay {
  @extend .app-overlay;
  
  z-index: 99;
  opacity: 0;
  display: flex;
  transition: 0.4s;
  text-align: center;
  flex-direction: column;
  visibility: hidden;
  
  &.show {
    opacity: 1;
    transition: 0.4s;
    visibility: visible;
  }

  .app-loader-busy {
    top: 42%;
    z-index: 100;
    margin: 0 auto;
    filter: drop-shadow(0 4px 4px #44444488);
  }
  .title {
    width: 100%;
    bottom: 18%;
    position: absolute;
    text-align: center;
    
    &.text-light {
      font-size: 1.5em;
      color: #fff;
    }
  }
}