.app-dropdown-menu.app-menubar {
  ul.app-dropdown-list {
    .app-input-search-box {
      width: inherit;

      .app-input-text {
        height: 35px;
        width: inherit;
        box-sizing: border-box;

        &:not(:focus) {
          border-color: #99999988;
        }
      }
    }
  }
}