.app-progress-container {
  display: inline-flex;
  align-items: center;
  flex-direction: row;

  .app-progress-icon {
    font-size: 30px;
    margin-right: 10px;
    color: var(--color_text_default);
  }

  .app-progress-title,
  .app-progress-subtitle {
    font-weight: 500;
  }
  .app-progress-title {
    line-height: 2;
  }
  .app-progress-subtitle {
    opacity: 0.8;
    font-size: 14px;
  }
  
  .app-progress-bar {
    width: 400px;
    height: 5px;
    overflow: hidden;
    position: relative;
    background: var(--color_button_default);
    @extend .transition-background-400ms;
    @if $platform == "windows11" { border-radius: 4px; }

    span {
      height: 100%;
      position: absolute;
      transition: width 1s ease-in-out;
      background-color: var(--PrimaryColor);
      &::after, &::before {
        display: none !important;
      }
    }

    &.with-icon {
      width: 355px;
      overflow: visible;
    }
  }
  // check if .app-progress-container has a sibling of same type
  .app-progress-container:first-of-type:not(:only-of-type) {
    margin-left: 15px;
  }
}

@if $platform == "windows11" {
  body.dark-theme .app-progress-container .app-progress-bar span {
    background-color: var(--PrimaryColorLight);
  }
}


@mixin progress-bar-mobile() {
  .app-progress-container {
    .app-progress-bar {
      width: 80vw;

      &.with-icon {
        width: calc(80vw - 45px);
      }
    }
  }
}