.app-progress-indeterminate {
  height: 5px;
  width: 400px;
  overflow: hidden;
  display: inline-flex;
  transition: height 0.15s ease-out;
  background-color: var(--color_button_default);
  @if $platform == "windows11" { border-radius: 4px; }
}
.app-progress-indeterminate:not(.animate) {
  height: 0;
}
.app-progress-indeterminate.animate div.progress-bar {
  height: 100%;
  width: 100%;
  transform-origin: 0% 50%;
  transition-property: background;
  animation: indeterminateAnimation 1s infinite linear;
  @if $platform == "windows11" {
    border-radius: 4px;
    background-color: var(--color_day_primary_night_primarylight);
  }
  @if $platform == "windows10" {
    background-image: radial-gradient(circle at 50% 50%, var(--color_day_primary_night_primarylight) 10%, transparent 90%);
  }
  
}
@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.5);
  }
  100% {
    transform: translateX(100%) scaleX(0.3);
  }
}

@mixin progress-bar-indeterminate-mobile() {
  .app-progress-indeterminate {
    width: 80vw;
  }
}