.app-progress-container {
  display: flex;
  align-items: center;

  .app-progress-icon {
    color: var(--color_text_dark);
    font-size: 30px;
  }

  .app-progress-title,
  .app-progress-subtitle {
    @extend .font-weight-500;
  }
  .app-progress-title {
    line-height: 2;
  }
  .app-progress-subtitle {
    font-size: 14px;
    opacity: 0.8;
  }
  
  .app-progress {
    @extend .transition-background-400ms;

    width: 400px;
    height: 5px;
    position: relative;
    overflow: hidden;
    background: var(--color_button);

    span {
      height: 100%;
      position: absolute;
      transition: width 1s ease-in-out;
      background-color: var(--PrimaryColor);
      &::after,
      &::before {
        display: none !important;
      }
    }

    &.withIcon {
      width: 355px;
      overflow: visible;
    }
  }
  // check if .app-progress-content has a sibling of same type
  .app-progress-content:first-of-type:not(:only-of-type) {
    margin-left: 15px;
  }
}

// body.dark-theme .app-progress-container .app-progress span {
//   background-color: var(--PrimaryColorLight);
// }

@mixin progress-bar-mobile() {
  .app-progress-container {
    .app-progress {
      width: 80vw;

      &.withIcon {
        width: calc(80vw - 45px);
      }
    }
  }
}