.app-dropdown-menu {
  ul.app-dropdown-list {
    @extend .app-custom-dropdown-ul;
    max-height: 280px;

    li.app-dropdown-list-item {

      &.selected span {
        @if $platform == "windows10" {
          background-color: var(--PrimaryColor);
          box-shadow: inset 0 0 0 1000px #ffffff99;
        }
        @if $platform == "windows11" {
          background-color: var(--color_link_bg_hover);
          &::before {
            width: 3px;
            height: 18px;
            content: "";
            position: absolute;
            left: 0;
            border-radius: 50px;
            background-color: var(--color_day_primary_night_primarylight);
          }
        }
      }
    }
  }
  
  // Header Arrow Style ------
  span,
  &::after {
    height: inherit;
    padding-left: 10px;
    align-items: center;
    display: inline-flex;
  }
}


body.dark-theme {
  .app-dropdown-list li.app-dropdown-list-item.selected {
    box-shadow: unset;
  }
}