.app-dropdown-menu {
  ul.app-dropdown-list {
    @extend .app-custom-dropdown-ul;
    max-height: 280px;

    li.app-dropdown-list-item {
      &:hover {
        background-color: var(--color_link_bg_hover);
      }
      &:active {
        background-color: var(--color_link_bg_active);
      }

      &.item-selected {
        background-color: var(--PrimaryColor);
        box-shadow: inset 0 0 0 1000px #ffffff99;
      }
    }
  }
  
  span,
  &::after {
    height: inherit;
    padding-left: 10px;
    align-items: center;
    display: inline-flex;
  }
}


body.dark-theme {
  .app-dropdown-list li.app-dropdown-list-item.item-selected {
    box-shadow: unset;
  }
}