.app-dropdown-menu {
  ul.app-dropdown-list {
    max-height: 280px;
    @extend .app-dropdown-ul-default;

    li.app-dropdown-list-item {
      &.selected span {
        @if $platform == "windows10" {
          color: #000;
          background-color: var(--PrimaryColor);
          box-shadow: inset 0 0 0 1000px #ffffff99;
        }
        @if $platform == "windows11" {
          background-color: var(--color-link-bg-hover);
          &::before {
            width: 3px;
            height: 18px;
            content: "";
            position: absolute;
            left: 0;
            border-radius: 50px;
            background-color: var(--color-day-primary-night-primarylight);
          }
        }
      }
      &.hidden {
        display: none;
      }
    }
  }

  &.app-select-menu ul.app-dropdown-list {
    width: 104%;
    margin-top: -40px;
    margin-left: -7px;

    &.show {
      @extend .transition_select_show;
    }
  }
  
  // Header Arrow Style ------
  span,
  &::after {
    height: inherit;
    padding-left: 10px;
    align-items: center;
    display: inline-flex;
  }
}