.app-select-menu, .app-dropdown-menu {
  @extend .input-field-primary;
  @extend .transition-background-400ms;
  
  padding: 0;
  width: 280px;
  height: 30px;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  

  select {
    background-color: var(--color_bg_light);
    color: var(--color_text_dark);
    @extend .transition-background-400ms;

    width: 100%;
    height: 100%;
    border: none;
    font-size: 15px;
    padding-left: 10px;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
    option {
      background-color: var(--color_bg_light);
    }
    &[disabled] {
      @extend .input-field-primary-disabled;
    }
  }
  &::after {
    @extend .font-icon-dark;
    content: "\f10c";
    position: absolute;
    font-size: 18px;
    right: 10px;
  }
}