.app-textarea {
  @extend .input-field-default;
  @extend .transition-background-400ms;

  width: auto;
  height: auto;
  cursor: auto;
  padding: 10px;
  font-family: inherit;
  line-height: normal;

  @if $platform == "windows10" {
    &:hover {
      border-color: #777;
    }
    &:focus {
      outline: none;
      border-color: #666;
    }
  }
  @if $platform == "windows11" {
    &:focus {
      outline: none;
      border-bottom: 2px solid var(--color-primary-adaptive);
    }
  }
}